@if (sideNavService.isSideNavOpen()) {
    <button
        class="!rounded-lg !p-0 w-full"
        matButton
        [matMenuTriggerFor]="menu"
        [matTooltip]="user.displayName"
        matTooltipPosition="after"
    >
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-2">
                <ng-container *ngTemplateOutlet="displayPicture"></ng-container>
                <h6
                    [class.hidden]="!sideNavService.isSideNavOpen()"
                    class="username m-0 max-w-[162px] overflow-hidden whitespace-nowrap text-ellipsis"
                >
                    {{ user.displayName }}
                </h6>
            </div>
            <mat-icon class="mx-1 material-icons-outlined">keyboard_arrow_up</mat-icon>
        </div>
    </button>
} @else {
    <button
        matIconButton
        aria-label="User Profile"
        class="flex items-center justify-center"
        [matMenuTriggerFor]="menu"
        [matTooltip]="user.displayName"
        matTooltipPosition="after"
    >
        <ng-container *ngTemplateOutlet="displayPicture"></ng-container>
    </button>
}
<mat-menu #menu="matMenu" class="profile-menu ml-1 w-[260px]">
    <h4 class="m-0 py-2 px-6 text-dark font-medium">{{ user.displayName }}</h4>
    <div mat-menu-item class="flex items-center gap-2" (click)="darkModeToggled.emit(!isDarkMode)">
        <mat-icon class="mat-icon-18 material-icons-outlined">{{ isDarkMode ? 'dark_mode' : 'light_mode' }}</mat-icon>
        <span>{{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}</span>
    </div>
    <a mat-menu-item class="flex items-center justify-between text-danger" (click)="loggedOut.emit()">
        Logout <mat-icon class="mat-icon-18 text-danger mr-0">logout</mat-icon>
    </a>
</mat-menu>

<ng-template #displayPicture>
    @if (user.photoURL) {
        <img [src]="user.photoURL" alt="No Image" class="w-7 h-7 rounded-full" loading="lazy" />
    } @else {
        <mat-icon aria-hidden="false" class="mr-6 text-grey material-icons-outlined">account_circle</mat-icon>
    }
</ng-template>
