// Default theme changes
.mat-form-field {
    .mat-form-field-wrapper {
        .mat-form-field-subscript-wrapper {
            margin-top: 5px;
            padding-left: 0px;
            .mat-error {
                font-size: 12px;
            }
        }
        .mat-form-field-flex {
            font-size: 14px;
            line-height: 1.225;
            .mat-form-field-infix {
                .mat-form-field-label-wrapper {
                    .mat-form-field-label {
                        color: var(--color-common-slate);
                    }
                }
            }
            .mat-form-field-infix {
                padding: 5px 0 10px 0 !important;
                .mat-input-element {
                    &::-webkit-input-placeholder {
                        /* Chrome/Opera/Safari */
                        color: var(--color-common-grey);
                        font-weight: normal;
                    }
                    &::-moz-placeholder {
                        /* Firefox 19+ */
                        color: var(--color-common-grey);
                        font-weight: normal;
                    }
                    &:-ms-input-placeholder {
                        /* IE 10+ */
                        color: var(--color-common-grey);
                        font-weight: normal;
                    }
                    &:-moz-placeholder {
                        /* Firefox 18- */
                        color: var(--color-common-grey);
                        font-weight: normal;
                    }
                }
                // .mat-form-field-label-wrapper {
                //     .mat-form-field-required-marker {
                //         display: none;
                //     }
                // }
                &.mat-form-field-appearance-outline {
                    .mat-form-field-outline {
                        background-color: var(--color-common-white) !important;
                    }
                }
            }
            .mat-form-field-flex {
                .mat-form-field-outline {
                    .mat-form-field-outline-start {
                        border-radius: var(--border-common-radius-4) 0 0 var(--border-common-radius-4);
                        min-width: var(--border-common-radius-4);
                    }
                    .mat-form-field-outline-end {
                        border-radius: 0 var(--border-common-radius-4) var(--border-common-radius-4) 0;
                    }
                }
            }
        }
        .mat-form-field-hint-wrapper {
            .mat-hint {
                color: var(--color-common-slate);
                font-size: 12px;
                line-height: 16px;
            }
        }
    }

    &.no-space {
        .mat-form-field-wrapper {
            padding-bottom: 0px !important;
        }
    }
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    transform: translateY(-15px) scale(0.7) !important;
}

.mat-form-field-appearance-outline .mat-form-field-label {
    top: 18px !important;
}

/* Firefox hide */
input[matinput][type='number'] {
    -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// Material Form Error
.mat-error {
    font-size: 12px;
}

// Used to display only first mat-error
mat-error {
    display: none !important;
    &:first-child {
        display: block !important;
    }
}
