.user-management-tabs {
    .mat-tab-header {
        .mat-tab-labels {
            .mat-tab-label {
                font-weight: 800 !important;
                color: var(--color-common-black) !important;
            }
        }
    }
}

.nested-tabs {
    .mat-tab-header {
        .mat-tab-labels {
            .mat-tab-label {
                font-weight: 600 !important;
            }
        }
    }
}
