@import '../utils/mixins/common-utils';

.h-100 {
    height: 100% !important;
}
.h-75 {
    height: 75% !important;
}
.h-50 {
    height: 50% !important;
}
.h-25 {
    height: 25% !important;
}
.w-100 {
    width: 100% !important;
}
.w-75 {
    width: 75% !important;
}
.w-85{
    width: 85% !important;
}
.w-50 {
    width: 50% !important;
}
.w-40{
    width: 40% !important;
}
.w-25 {
    width: 25% !important;
}
.h-auto {
    height: auto !important;
}
.w-auto {
    width: auto !important;
}

.h-auto {
    height: auto;
}

.w-xs-100 {
    @include media-breakpoint-down('phone') {
        width: 100% !important;
    }
}
.w-md-100 {
    @include media-breakpoint-down('tablet') {
        width: 100% !important;
    }
}

// This class applying before 768px
@include media-breakpoint-up('tablet') {
    .width-md-100 {
        width: 100px;
    }
    .width-md-200 {
        width: 200px;
    }
    .width-md-300 {
        width: 300px;
    }
    .width-md-350 {
        width: 350px;
    }
    .width-md-400 {
        width: 400px;
    }
    .width-md-500 {
        width: 500px;
    }
    .width-md-600 {
        width: 600px;
    }
    .width-md-700 {
        width: 700px;
    }
    .width-md-800 {
        width: 800px;
    }
}

@include media-breakpoint-down('tablet') {
    .width-sm-100 {
        min-width: 100px;
    }
    .width-sm-200 {
        min-width: 200px;
    }
    .width-sm-300 {
        min-width: 300px;
    }
    .width-sm-400 {
        min-width: 400px;
    }
    .width-sm-500 {
        min-width: 500px;
    }
    .width-sm-600 {
        width: 600px;
    }
    .width-sm-700 {
        width: 700px;
    }
    .width-sm-800 {
        width: 800px;
    }
}
