.text-lowercase {
    text-transform: lowercase !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.text-capitalize {
    text-transform: capitalize !important;
}
.text-none {
    text-transform: none !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.cursor-pointer {
    cursor: pointer;
}
.outline-none {
    outline: none;
}
.text-underline {
    text-decoration: underline !important;
    text-underline-position: under;
}

.text-right-md {
    @media only screen and (max-width: 768px) {
        text-align: right !important;
    }
}
.text-line-through {
    text-decoration: line-through;
}
.white-space-pre {
    white-space: pre !important;
}
