@import '../../../assets/scss/utils/mixins/common-utils';
.default-drawer {
    .mat-nav-list {
        padding-top: 0px;
        .mat-list-item {
            height: 40px !important;
            cursor: pointer !important;
            color: var(--new-color-common-muted) !important;
            .mat-list-item-content {
                padding: 0px 0px 0px 16px;
            }
            &.mat-list-item-disabled {
                background-color: var(--color-common-silver);
                pointer-events: none;
                opacity: 0.7;
            }
            .mat-line {
                font-size: 14px !important;
                font-weight: 400;
                &.menu-svg-icon {
                    svg {
                        path {
                            fill: var(--color-common-slate);
                        }
                    }
                }
            }
            @include sideNavHoverActiveState(
                var(--color-dark-accent),
                var(--color-dark-accent-light),
                var(--color-dark-primary),
                var(--color-dark-muted)
            );
        }
    }
}
