body.light-theme {
    //Common color variables
    --color-common-dark: #212528;
    --color-common-slate: #3f4346;
    --color-common-rock: #5d6164;
    --color-common-grey: #8f9396;
    --color-common-cloud: #c1c5c8;
    --color-common-smoke: #d5d9dc;
    --color-common-white: #ffffff;
    --color-common-black: #000000;

    --color-common-silver: rgba(123, 127, 130, 0.07);
    --color-common-bg: var(--color-common-white);
    --color-common-text: var(--color-common-slate);
    --color-common-text-2: var(--color-common-rock);
    --color-common-app-bg: #fafafa;

    --color-common-border: var(--color-common-smoke);
    --color-common-placeholder: var(--color-common-grey);
    --color-common-icon: var(--color-common-rock);
    --color-common-input-border: var(--color-common-smoke);
    --color-common-chip-bg: rgba(123, 127, 130, 0.09);

    --color-common-secondary-text: var(--color-common-rock);

    --color-common-graph-bg: rgba(123, 127, 130, 0.09);
    --color-common-flat-btn-bg: rgba(123, 127, 130, 0.09);
    --color-common-bg-light: rgba(123, 127, 130, 0.09);
    --color-common-bg-lighter: rgba(123, 127, 130, 0.1);
    --color-common-scrollbar: 0, 0, 0;
    --color-common-hover: var(--color-common-silver);

    // Primary Color
    --color-common-primary: #3f51b5;
    --color-common-primary-light: rgba(80, 103, 230, 0.12);
    --color-link-color: blue;
}
