<!-- Menus::START -->
<div class="service-list">
    <mat-nav-list>
        @for (item of navItems; track item.route) {
        <a
            mat-list-item
            [routerLink]="[item.route]"
            routerLinkActive="active-list-item"
            [matTooltipPosition]="'right'"
            [matTooltip]="isSideNavOpen() ? item.label : ''"
        >
            <mat-icon matListIcon aria-hidden="false">{{ item.icon }}</mat-icon>
            <span matLine>{{ item.label }}</span>
        </a>
        }
    </mat-nav-list>
</div>
<!-- Menus::END -->
