<!-- Menus::START -->
<mat-nav-list class="service-list">
    @for (item of navItems; track item.route) {
    <a
        mat-list-item
        [routerLink]="[item.route]"
        routerLinkActive="mdc-list-item--activated"
        [matTooltipPosition]="'right'"
        [matTooltip]="isSideNavOpen() ? item.label : ''"
    >
        <mat-icon matListIcon aria-hidden="false">{{ item.icon }}</mat-icon>
        <span [class.hidden]="isSideNavOpen()" matLine>{{ item.label }}</span>
    </a>
    }
</mat-nav-list>
<!-- Menus::END -->
