@use '../../../../../../node_modules/@angular/material/index' as mat;
@import '../theme/theme-colors';
@import '../utils/mixins/common-utils';

/*// Mat Divider
//====================================================*/
.mat-divider {
    border-top-color: var(--color-common-border) !important;
}

/*// Font Weight
//====================================================*/
.fw-thin {
    font-weight: 100 !important;
}
.fw-normal {
    font-weight: 400 !important;
}
.fw-bold {
    font-weight: 500 !important;
}
.fw-bolder {
    font-weight: 600 !important;
}

/*// Text Class
//====================================================*/
.text-primary-muted {
    color: var(--color-common-grey);
}
.text-success {
    color: var(--color-common-green) !important;
}
.text-danger {
    color: mat.get-color-from-palette($warn) !important;
}
.text-primary {
    color: mat.get-color-from-palette($primary) !important;
}
.mat-error {
    font-size: 12px;
}
.text-underline {
    text-decoration: underline;
}
.text-white {
    color: var(--color-common-white) !important;
}

.overflowX-scroll {
    width: 100%;
    overflow-x: auto;
    display: grid;
}
.overflow-hidden {
    overflow: hidden !important;
}
.overflow-x {
    overflow-x: auto;
}
.overflow-y {
    overflow-y: auto;
}
.overflow-dotted {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

/*
// Sticky Fixed Header
//====================================================*/
// .position-sticky {
//     position: sticky;
//     z-index: 9999;
//     width: 100%;
//     top: 0;
//     background-color: var(--color-common-white);
// }
.sticky-fixed {
    position: sticky !important;
    top: 0;
    z-index: 9999;
    background-color: var(--color-common-bg);
    @media (max-width: 992px) {
        &.noStickyOnMobile {
            position: relative !important;
        }
    }
}

.box-shadow-none {
    box-shadow: none !important;
}
.inline-block {
    display: inline-block;
}
.list-view {
    .mat-list-item {
        .mat-list-item-content {
            padding: 0px !important;
        }
    }
}

.mat-expansion-panel {
    &.custom-expansion-panel {
        .mat-expansion-panel-header {
            padding: 0 16px !important;
            &.mat-expanded {
                height: 40px;
            }
        }
        .mat-expansion-panel-content {
            .mat-expansion-panel-body {
                padding: 0px;
                .mat-nav-list {
                    .mat-list-item {
                        .mat-list-item-content {
                            padding-left: 30px !important;
                            .mat-icon {
                                color: var(--color-common-grey);

                                svg {
                                    path {
                                        fill: var(--color-common-grey) !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.breadcrumb {
    font-size: 13px;
    background-color: var(--color-common-bg);
    padding: 9px 12px;
    border-radius: 5px;
    line-height: 25px;
}

.mat-divider {
    border-color: var(--color-common-border) !important;
}

// Change tooltip background color
.mat-tooltip {
    background-color: var(--color-common-tooltip-bg) !important;
}

.dark-theme {
    .custom-datepicker {
        .date-input {
            .float-label {
                background: transparent !important;
            }
        }
    }
}

.border-none {
    border-width: 0px !important;
}
.border {
    border: 1px solid var(--color-common-border);
}
.border-top {
    border-top: 1px solid var(--color-common-border);
}
.border-bottom {
    border-bottom: 1px solid var(--color-common-border);
}
.border-right {
    border-right: 1px solid var(--color-common-border);
}
.border-left {
    border-left: 1px solid var(--color-common-border);
}
.border-dashed {
    border: 1px dashed var(--color-common-border);
}

// border radius
.rounded-0 {
    border-radius: 0px !important;
}
.rounded-4 {
    border-radius: var(--border-common-radius-4);
}
.rounded-8 {
    border-radius: var(--border-common-radius);
}
.right-top-rounded-8 {
    border-top-right-radius: var(--border-common-radius);
}
.right-bottom-rounded-8 {
    border-bottom-right-radius: var(--border-common-radius);
}
.left-top-rounded-8 {
    border-top-left-radius: var(--border-common-radius);
}
.left-bottom-rounded-8 {
    border-bottom-left-radius: var(--border-common-radius);
}
.right-border-radius-0 {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.left-border-radius-0 {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.border-common-radius-50 {
    border-radius: var(--border-common-radius-50) !important;
}

// Add Scrollbar in Markdown with custom color
markdown pre{
    overflow: auto;
    @include custom-scroll-bar(
        $scrollbarThumbColor: rgba(255,255,255,.2),
        $scrollbarTrackColor: rgba(255,255,255,.4),
        $scrollbarWidth: 8px,
        $scrollbarTrackRadius: 4px
    );
}