@use 'sass:map';
@use '@angular/material' as mat;
@use './custom-palette' as theme;


/* Include Material core styles (only once) */
@include mat.core();

/* Base: light theme for all components + typography */
html {
  @include theme.emit-design-tokens();
  @include mat.all-component-themes(theme.$light-theme);
  @include mat.system-level-colors(theme.$light-theme);
  @include mat.system-level-typography(theme.$light-theme);

  // Dynamic Material Design System variables for dark theme only
  // Explicitly picks tone 40 for primary and tone 90 for on-primary from Azure palette
  --mat-sys-primary: #{map.get(theme.$primary-palette, 80)};
//   --mat-sys-on-primary: #{map.get(theme.$theme-primary, 90)};
//   --mat-button-outlined-label-text-color: var(--color-white, #ffffff);
}

/* System default: follow OS dark mode when body has no theme class */
@media (prefers-color-scheme: dark) {
  html:not(body.light-theme *):not(body.dark-theme *) {
    @include mat.all-component-colors(theme.$dark-theme);
    @include mat.system-level-colors(theme.$dark-theme);
  }
}

/* Force dark theme */
body.dark-theme {
  @include mat.all-component-colors(theme.$dark-theme);
  @include mat.system-level-colors(theme.$dark-theme);
}

/* Force light theme (overrides OS dark preference) */
body.light-theme {
  @include mat.all-component-colors(theme.$light-theme);
  @include mat.system-level-colors(theme.$light-theme);
  --mat-sys-primary: #{map.get(theme.$primary-palette, 80)};
}