/* Layout*/
@use 'assets/scss/layout/spacing';
@use 'assets/scss/layout/display';

/* Components*/
@use 'assets/scss/component/form-field';
@use 'assets/scss/component/tabs';
@use '../../shared/scss/global';

/* Widget shared UI utilities */
@use 'assets/scss/widget-ui';

:root {
    --color-common-dark: #000000;
    --color-common-slate: #333333;
    --color-common-rock: #5d6164;
    --color-common-grey: #333333;
    --color-common-cloud: #c1c5c8;
    --color-common-smoke: #d5d9dc;
    --color-common-white: #ffffff;
    --color-common-black: #000000;
    --border-common-radius-4: 4px;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-24: 24px;
    --font-size-28: 28px;
    --font-size-30: 30px;
    --font-size-36: 36px;

    --custom-mat-form-field-height: 48px;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    // background-color: black;
}

*,
proxy-auth,
.iti__country-list {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}
