@import '../../assets/scss/utils/mixins/common-utils';
.login-left-menu {
    display: flex;
    padding: 80px 40px 0px 40px;
    max-width: 500px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    background-color: var(--color-common-silver);
    height: 100vh;
    @include media-breakpoint-down('phone') {
        display: none;
    }
    .brand-title {
        font-size: 40px !important;
        font-weight: 600 !important;
        line-height: normal;
    }
}

.login-content {
    display: flex;
    padding: 80px 80px 0px 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    .right-title {
        font-size: var(--font-size-common-24) !important;
    }
}
