<button (click)="initOtpProvider()">Login with otp</button>
<!-- <button (click)="initOtpProvider()">Login with otp</button> -->
<!-- <div id="VWVJOXVmR0NEcXlmbUJpcjd6M0dnN1YvbEJxcTNSSWp1cFd0U01mQmpZMHdzRW82N0w3QzZid3Y0eFpDNkx6UU1OWEsxNDdMQ0JLb1JSZzV0Y2dBc0ExbWxHaFVGa3FmQnpXcEpRT2ZndGczditFL1hpWXZKdEJha25DcVhxR1hWSFQvQVlZZE1LNThxWk9sTERhMnVwUkVyNWxDdkhUdWF1TDFKc0JiMG91eXhRUndxQjRLclpWL21OVXNxL0RYK0ZiZ005MU1RUlByQmo3aGxGdFpDZz09"></div>
<div id="4512365e1772083784699fda48abd90"></div> -->
<div id="userProxyContainer"></div>
