@use '../../../../shared/scss/mixins/common-utils' as *;

:host {
    display: flex;
    width: 100%;
    height: 100vh;
    .mat-drawer {
        transition: 200ms all;
        height: 100%;
        width: 246px;
        z-index: 9;
        box-shadow: none !important;
        border-right: 1px solid var(--color-common-border);
        @include media-breakpoint-down('desktop') {
            position: fixed;
            z-index: 999;
            top: 0;
            bottom: 0;
        }
    }
    .app-main-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .component-render-container {
            position: relative;
            flex: 1;
            z-index: 1;
            .component-render-container-inner {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                overflow: auto;
            }
        }
        @include media-breakpoint-down('desktop') {
            padding-left: 55px;
        }
    }
}
#ChatbotContainer {
    height: 100vh;
    width: 100%;
}
