:not(.collapsed-sidebar) {
    .mat-drawer-content {
        .sidebar-toggle-btn {
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &:hover .sidebar-toggle-btn {
            opacity: 1;
        }
    }
}
:not(.collapsed-sidebar) {
    @media (max-width: 992px) {
        .mat-drawer-content {
            position: fixed;
            z-index: 999999;
            top: 0;
            bottom: 0;
            background: var(--mat-sys-surface);
        }
    }
}
