<div class="position-relative mat-right-dialog-container">
    <proxy-loader *ngIf="data.isLoading$ | async"></proxy-loader>
    <!-- Top Fixed Header::START -->
    <div class="mat-right-dialog-header d-flex align-items-center justify-content-between">
        <h2 class="mat-title mat-subheading-2 mb-0 text-dark">Logs Details</h2>
        <button mat-icon-button mat-dialog-close (click)="onCloseDialog()" color="primary">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <!-- Top Fixed Header::END -->

    <!-- Content::START -->
    <div class="mat-right-dialog-content" *ngIf="data" style="height: calc(100vh - 57px)">
        <ng-container *ngIf="data.logData$ | async as logdata; else noData">
            <ng-container *ngIf="data?.logSettings?.store_headers">
                <ng-container
                    [ngTemplateOutlet]="jsonCard"
                    [ngTemplateOutletContext]="{ title: 'Headers', jsonData: logdata?.headers }"
                ></ng-container>
            </ng-container>
            <ng-container *ngIf="data?.logSettings?.store_requestBody">
                <ng-container
                    [ngTemplateOutlet]="jsonCard"
                    [ngTemplateOutletContext]="{ title: 'Request body', jsonData: logdata?.request_body }"
                ></ng-container>
            </ng-container>
            <ng-container *ngIf="data?.logSettings?.store_response">
                <ng-container
                    [ngTemplateOutlet]="jsonCard"
                    [ngTemplateOutletContext]="{ title: 'Response', jsonData: logdata?.response }"
                ></ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #jsonCard let-title="title" let-jsonData="jsonData">
    <span class="mb-2 mt-1 mat-body-2 fw-bold">{{ title }}</span>
    <mat-card class="outline-card overflow-y w-break">
        <mat-card-content>
            <pre [innerHtml]="jsonData | json"></pre>
        </mat-card-content>
    </mat-card>
</ng-template>

<ng-template #noData>
    <proxy-no-record-found
        [title]="'Log Details'"
        [showBtn]="false"
        *ngIf="(data.isLoading$ | async) === false"
    ></proxy-no-record-found>
</ng-template>
