<div class="position-relative mat-right-dialog-container">
    <!-- Top Fixed Header::START -->
    <div class="mat-right-dialog-header d-flex align-items-center justify-content-between">
        <h2 class="mat-title mat-subheading-2 mb-0 text-dark">Logs Details</h2>
        <button mat-icon-button mat-dialog-close (click)="onCloseDialog()" color="primary">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <!-- Top Fixed Header::END -->

    <!-- Content::START -->
    <div class="mat-right-dialog-content" *ngIf="data">
        <p class="mb-2 mt-0 mat-body-2 fw-bold">Request body</p>
        <mat-card class="outline-card overflow-y" style="height: calc(100vh - 116px);">
            <mat-card-content>
                <pre [innerHtml]="data | json" *ngIf="data; else noRequestBody"></pre>
                <ng-template #noRequestBody>
                    <msg91-no-record-found [title]="'request body'" [showBtn]="false"></msg91-no-record-found>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </div>
</div>
