<div class="relative mat-right-dialog-container">
    @if (data.isLoading$ | async) {
    <proxy-loader></proxy-loader>
    }
    <!-- Top Fixed Header::START -->
    <div class="mat-right-dialog-header flex items-center justify-between">
        <h2 class="mat-title mat-subheading-2 mb-0 text-dark">Logs Details</h2>
        <button matIconButton mat-dialog-close (click)="onCloseDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <!-- Top Fixed Header::END -->

    <!-- Content::START -->
    @if (data) {
    <div class="mat-right-dialog-content" style="height: calc(100vh - 57px)">
        @if (data.logData$ | async; as logdata) { @if (data?.logSettings?.store_headers) {
        <ng-container
            [ngTemplateOutlet]="jsonCard"
            [ngTemplateOutletContext]="{ title: 'Headers', jsonData: logdata?.headers }"
        ></ng-container>
        } @if (data?.logSettings?.store_requestBody) {
        <ng-container
            [ngTemplateOutlet]="jsonCard"
            [ngTemplateOutletContext]="{ title: 'Request body', jsonData: logdata?.request_body }"
        ></ng-container>
        } @if (data?.logSettings?.store_response) {
        <ng-container
            [ngTemplateOutlet]="jsonCard"
            [ngTemplateOutletContext]="{ title: 'Response', jsonData: logdata?.response }"
        ></ng-container>
        } } @else { @if ((data.isLoading$ | async) === false) {
        <proxy-no-record-found [title]="'Log Details'" [showBtn]="false"></proxy-no-record-found>
        } }
    </div>
    }
</div>

<ng-template #jsonCard let-title="title" let-jsonData="jsonData">
    <span class="mb-2 mt-1 mat-body-2 fw-bold">{{ title }}</span>
    <mat-card class="outline-card overflow-y w-break">
        <mat-card-content>
            <pre [innerHtml]="jsonData | json"></pre>
        </mat-card-content>
    </mat-card>
</ng-template>
