<div class="d-flex w-100 h-100" [ngClass]="!(isSideNavOpen | async) ? 'collapsed-sidebar' : ''">
    <div
        class="d-flex flex-column mat-drawer mat-drawer-content"
        [ngClass]="(isSideNavOpen | async) ? 'mat-drawer-toggle-btn-hover' : ''"
    >
        <div class="d-flex align-items-center mat-drawer-header">
            <div
                class="d-flex align-items-center flex-grow-1 gap-2 mat-drawer-header-title"
                [ngStyle]="{ 'padding-right': (isSideNavOpen | async) ? '0px' : '12px' }"
            >
                <mat-icon class="mat-icon-22">apps</mat-icon>
                <div
                    class="d-flex align-items-center col-gap-1 mat-drawer-header-subtitle cursor-pointer"
                    [matMenuTriggerFor]="clientsMenu"
                    #clientsMenuTrigger="matMenuTrigger"
                >
                    <span class="font-16 fw-bolder text-dark overflow-dotted" style="max-width: 145px">
                        {{ (clientSettings$ | async)?.client?.name }}
                    </span>
                    <mat-icon class="mat-icon-18" *ngIf="isSideNavOpen | async">{{
                        clientsMenuTrigger?.menuOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
                    }}</mat-icon>
                    <mat-menu #clientsMenu="matMenu" class="profile-sub-dropdown" xPosition="before">
                        <mat-list *ngIf="clients$ | async as clientList">
                            <proxy-cdk-scroll
                                (fetchNextPage)="fetchClientsNextPage()"
                                *ngIf="clientList.totalEntityCount > 25; else clientListRef"
                            >
                                <cdk-virtual-scroll-viewport
                                    [itemSize]="40"
                                    style="overflow: hidden overlay"
                                    minBufferPx="400"
                                    maxBufferPx="400"
                                    id="scrollableWrapper"
                                    style="height: 80vh; width: 280px"
                                >
                                    <ng-container *ngTemplateOutlet="clientListRef"></ng-container>
                                </cdk-virtual-scroll-viewport>
                            </proxy-cdk-scroll>
                            <ng-template #clientListRef>
                                <button
                                    mat-menu-item
                                    (click)="switchClient(client?.id)"
                                    [disabled]="(clientSettings$ | async)?.client?.id === client?.id"
                                    [ngClass]="{
                                        'text-dark': (clientSettings$ | async)?.client?.id === client?.id
                                    }"
                                    *ngFor="let client of clientList?.data"
                                >
                                    {{ client.name }}
                                </button>
                            </ng-template>
                        </mat-list>
                    </mat-menu>
                </div>
            </div>
            <button
                mat-icon-button
                color="primary"
                class="mat-drawer-toggle-btn icon-btn-md mr-1"
                (click)="toggleSideBarEvent()"
                [matTooltip]="(isSideNavOpen | async) ? 'Collapse Menu' : 'Expand Menu'"
                matTooltipPosition="right"
                type="button"
            >
                <mat-icon class="mat-icon-18">{{
                    (isSideNavOpen | async) ? 'keyboard_double_arrow_left' : 'keyboard_double_arrow_right'
                }}</mat-icon>
            </button>
        </div>
        <!-- Proxy Sidenav::START -->
        <proxy-main-left-side-nav
            class="mat-drawer-nav proxy-left-menu"
            [isSideNavOpen]="!(isSideNavOpen | async)"
        ></proxy-main-left-side-nav>
        <!-- Proxy Sidenav::END -->
        <div class="mat-drawer-footer" *ngIf="logInData$ | async as user">
            <button mat-button [matMenuTriggerFor]="menu">
                <div class="d-flex align-items-center">
                    <img
                        *ngIf="user.photoURL"
                        [src]="user.photoURL"
                        alt="No Image"
                        class="profile-avatar"
                        loading="lazy"
                    />
                    <mat-icon *ngIf="!user.photoURL" aria-hidden="false" class="mr-3 text-grey material-icons-outlined">
                        account_circle</mat-icon
                    >
                    <div class="d-flex flex-column" style="width: 140px">
                        <h6 class="username m-0 text-secondary">{{ user.displayName }}</h6>
                    </div>
                    <mat-icon class="mx-1 text-secondary material-icons-outlined">keyboard_arrow_up</mat-icon>
                </div>
            </button>
            <mat-menu #menu="matMenu" class="profile-menu ml-1">
                <h4 class="m-0 py-2 px-3 text-dark fw-bold">{{ user.displayName }}</h4>
                <a
                    mat-menu-item
                    class="d-flex align-items-center justify-content-between text-danger"
                    (click)="logOut()"
                >
                    Logout <mat-icon class="mat-icon-18 text-danger mr-0">logout</mat-icon>
                </a>
            </mat-menu>
        </div>
    </div>
    <div class="app-main-container">
        <!-- Content::START -->

        <div class="component-render-container">
            <div class="component-render-container-inner">
                <router-outlet></router-outlet>
            </div>

            <div id="ChatbotContainer"></div>
        </div>

        <!-- Content::END -->
    </div>
</div>
