@use 'intl-tel-input/build/css/intlTelInput.css';
@use '../../../intl' as *;
@use '../../../otp-global' as *;
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:host {
    display: block !important;
    height: inherit !important;
    min-height: inherit !important;
    max-height: inherit !important;
    background: transparent !important;
}

.authorization-container {
    @apply h-full flex justify-center items-center;
}
