@use 'intl-tel-input/build/css/intlTelInput.css';
@use '../../../intl' as *;
@use '../../../otp-global' as *;
// @use '../../../shadow-dom-theme';

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

.with-reference-id {
    display: flex;
    position: fixed;
}

.without-reference-id {
    display: block;
    position: static;
}
