<ng-container>
    <div class="dialog-header">
        <div class="heading">Register</div>
        <button mat-icon-button mat-dialog-close class="close-dialog" (click)="close(true)">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11.8334 1.34163L10.6584 0.166626L6.00008 4.82496L1.34175 0.166626L0.166748 1.34163L4.82508 5.99996L0.166748 10.6583L1.34175 11.8333L6.00008 7.17496L10.6584 11.8333L11.8334 10.6583L7.17508 5.99996L11.8334 1.34163Z"
                    fill="#5D6164"
                />
            </svg>
        </button>
    </div>
    <div class="otp-verification-content">
        <div
            class="form-wrapper"
            [formGroup]="registrationForm"
            proxyMarkAllAsTouched
            [buttonRef]="submitBtn"
            (valid)="submit()"
        >
            <p class="heading">User Details</p>
            <div class="one-line">
                <ng-container
                    [ngTemplateOutlet]="formField"
                    [ngTemplateOutletContext]="{
                        label: 'First Name',
                        patternError: 'Only alphabets are allowed',
                        formControl: registrationForm.get('user.firstName')
                    }"
                ></ng-container>
                <ng-container
                    [ngTemplateOutlet]="formField"
                    [ngTemplateOutletContext]="{
                        label: 'Last Name',
                        patternError: 'Only alphabets are allowed',
                        formControl: registrationForm.get('user.lastName')
                    }"
                ></ng-container>
            </div>
            <ng-container
                [ngTemplateOutlet]="formField"
                [ngTemplateOutletContext]="{
                    label: 'Email',
                    formControl: registrationForm.get('user.email')
                }"
            ></ng-container>
            <div class="one-line">
                <ng-container
                    [ngTemplateOutlet]="intlFormField"
                    [ngTemplateOutletContext]="{
                        key: 'user',
                        label: 'Mobile',
                        required: true,
                        formControl: registrationForm.get('user.mobile'),
                        isFieldFocused: isNumberChanged
                    }"
                ></ng-container>
                <div class="submit-btn mt-2" *ngIf="!isOtpVerified">
                    <button
                        (click)="isOtpSent ? resendOtp() : getOtp()"
                        mat-flat-button
                        color="primary"
                        [disabled]="(selectGetOtpInProcess$ | async) || (isOtpSent && !canResendOtp)"
                    >
                        <span *ngIf="!isOtpSent">
                            {{ (selectGetOtpInProcess$ | async) ? 'Sending...' : 'Get OTP' }}
                        </span>
                        <span *ngIf="isOtpSent && !canResendOtp"> Resend OTP in {{ resendTimer }}s </span>
                        <span *ngIf="isOtpSent && canResendOtp && !(selectGetOtpInProcess$ | async)"> Resend OTP </span>
                        <span *ngIf="isOtpSent && canResendOtp && (selectGetOtpInProcess$ | async)"> Sending... </span>
                    </button>
                </div>
                <div *ngIf="isOtpVerified" class="submit-btn mt-2">
                    <span class="success-message font-12">
                        Verified
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="20px"
                            viewBox="0 -960 960 960"
                            width="20px"
                            fill="#4caf50"
                        >
                            <path
                                d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"
                            />
                        </svg>
                    </span>
                </div>
            </div>
            <div *ngIf="isNumberChanged || isOtpVerified" class="one-line otp-verify-btn d-flex justify-content-end">
                <a href="javascript:void(0)" (click)="numberChanged()" class="verify-otp-link">Change Number</a>
            </div>

            <div *ngIf="isOtpSent && !isOtpVerified" class="one-line otp-verify-btn">
                <div class="otp-container" [formGroup]="otpForm">
                    <input
                        type="text"
                        class="otp-input"
                        maxlength="1"
                        formControlName="otp1"
                        (input)="onOtpInput($event, 'otp1', otp2)"
                        (keyup)="onOtpKeyup($event, 'otp1')"
                        (keydown)="onOtpKeydown($event, 'otp1')"
                        (paste)="onOtpPaste($event)"
                        #otp1
                    />
                    <input
                        type="text"
                        class="otp-input"
                        maxlength="1"
                        formControlName="otp2"
                        (input)="onOtpInput($event, 'otp2', otp3)"
                        (keyup)="onOtpKeyup($event, 'otp2')"
                        (keydown)="onOtpKeydown($event, 'otp2', otp1)"
                        #otp2
                    />
                    <input
                        type="text"
                        class="otp-input"
                        maxlength="1"
                        formControlName="otp3"
                        (input)="onOtpInput($event, 'otp3', otp4)"
                        (keyup)="onOtpKeyup($event, 'otp3')"
                        (keydown)="onOtpKeydown($event, 'otp3', otp2)"
                        #otp3
                    />
                    <input
                        type="text"
                        class="otp-input"
                        maxlength="1"
                        formControlName="otp4"
                        (input)="onOtpInput($event, 'otp4')"
                        (keyup)="onOtpKeyup($event, 'otp4')"
                        (keydown)="onOtpKeydown($event, 'otp4', otp3)"
                        #otp4
                    />
                </div>
                <div class="otp-container">
                    <a
                        href="javascript:void(0)"
                        (click)="verifyOtp()"
                        class="verify-otp-link"
                        [class.disabled]="selectVerifyOtpV2InProcess$ | async"
                        [style.pointer-events]="(selectVerifyOtpV2InProcess$ | async) ? 'none' : 'auto'"
                    >
                        {{ (selectVerifyOtpV2InProcess$ | async) ? 'Verifying...' : 'Verify OTP' }}
                    </a>
                </div>
                <div *ngIf="otpError" class="otp-error-message">
                    {{ otpError }}
                </div>
            </div>
            <div class="one-line">
                <ng-container
                    [ngTemplateOutlet]="formField"
                    [ngTemplateOutletContext]="{
                        type: 'password',
                        label: 'Password',
                        patternError: 'Enter a valid password',
                        formControl: registrationForm.get('user.password')
                    }"
                ></ng-container>
                <ng-container
                    [ngTemplateOutlet]="formField"
                    [ngTemplateOutletContext]="{
                        type: 'confirm password',
                        label: 'Confirm Password',
                        patternError: 'Enter a valid password',
                        formControl: registrationForm.get('user.confirmPassword')
                    }"
                ></ng-container>
            </div>
            <div class="note">
                <span class="subheading">Note: </span>
                Password should contain atleast one Capital Letter, one Small Letter, one Digit and one Symbol
            </div>
            <mat-divider *ngIf="showCompanyDetail" class="company-details"></mat-divider>
            <div *ngIf="showCompanyDetail" class="heading">Company Details (Optional)</div>
            <ng-container
                *ngIf="showCompanyDetail"
                [ngTemplateOutlet]="formField"
                [ngTemplateOutletContext]="{
                    label: 'Company Name',
                    formControl: registrationForm.get('company.name')
                }"
            ></ng-container>
            <ng-container
                *ngIf="showCompanyDetail"
                [ngTemplateOutlet]="intlFormField"
                [ngTemplateOutletContext]="{
                    key: 'company',
                    label: 'Mobile',
                    formControl: registrationForm.get('company.mobile')
                }"
            ></ng-container>
            <ng-container
                *ngIf="showCompanyDetail"
                [ngTemplateOutlet]="formField"
                [ngTemplateOutletContext]="{
                    label: 'Email',
                    formControl: registrationForm.get('company.email')
                }"
            ></ng-container>
            <div class="one-line submit-wrapper">
                <div class="error-message">
                    <ng-container *ngIf="apiError | async as apiError">
                        <span class="subheading">Error: </span>
                        <span *ngFor="let error of apiError">
                            {{ error }}
                            <br />
                        </span>
                    </ng-container>
                </div>
                <div class="submit-btn">
                    <button #submitBtn mat-flat-button color="primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template
    #formField
    let-type="type"
    let-label="label"
    let-hint="hint"
    let-formControl="formControl"
    let-patternError="patternError"
>
    <div class="register-user-details-formfield position-relative d-flex gap-3 w-100">
        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>{{ label }} </mat-label>
            <ng-container *ngIf="type === 'password' || type === 'confirm password'; else normalField">
                <input
                    matInput
                    autocomplete="off"
                    [type]="(type === 'password' ? showPassword : showConfirmPassword) ? 'text' : 'password'"
                    [formControl]="formControl"
                    [placeholder]="'Enter ' + label"
                    maxlength="15"
                />
            </ng-container>

            <ng-template #normalField>
                <input
                    matInput
                    autocomplete="off"
                    [type]="type || 'text'"
                    [formControl]="formControl"
                    [placeholder]="'Enter ' + label"
                />
            </ng-template>

            <mat-error *ngIf="formControl.touched">
                <mat-error *ngIf="formControl.errors?.required"> {{ label }} is required. </mat-error>
                <mat-error *ngIf="formControl.errors?.minlengthWithSpace"> Min required length is 3 </mat-error>
                <mat-error *ngIf="formControl.errors?.noStartEndSpaces">
                    Start and End spaces are not allowed</mat-error
                >
                <mat-error *ngIf="formControl.errors?.min as minError">
                    Min value required is {{ minError?.min }}
                </mat-error>
                <mat-error *ngIf="formControl.errors?.max as maxError">
                    Max value allowed is {{ maxError?.max }}
                </mat-error>
                <mat-error *ngIf="formControl.errors?.minlength as minLengthError">
                    Min required length is {{ minLengthError?.requiredLength }}
                </mat-error>
                <mat-error *ngIf="formControl.errors?.maxlength as maxLengthError">
                    Max allowed length is {{ maxLengthError?.requiredLength }}
                </mat-error>
                <mat-error *ngIf="formControl.errors?.pattern">
                    {{ patternError ? patternError : 'Enter valid ' + label }}
                </mat-error>
                <mat-error *ngIf="formControl.errors?.valueSameAsControl"> {{ label }} mismatch </mat-error>
            </mat-error>
            <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
        </mat-form-field>
        <mat-icon
            class="position-absolute toggle-icon"
            *ngIf="type === 'password' || type === 'confirm password'"
            (click)="
                type === 'password' ? (showPassword = !showPassword) : (showConfirmPassword = !showConfirmPassword)
            "
        >
            <ng-container
                [ngTemplateOutlet]="visibilityIcon"
                [ngTemplateOutletContext]="{
                    visible: type === 'password' ? showPassword : showConfirmPassword
                }"
            >
            </ng-container>
        </mat-icon>
    </div>
</ng-template>

<ng-template
    #intlFormField
    let-key="key"
    let-label="label"
    let-hint="hint"
    let-required="required"
    let-formControl="formControl"
    let-isFieldFocused="isFieldFocused"
>
    <div
        [attr.id]="'init-contact-wrapper-' + key"
        class="register-user-details"
        style="position: relative; margin-bottom: 27px"
    >
        <input
            type="tel"
            style="width: 100%"
            (keypress)="intlClass?.[key]?.onlyPhoneNumber($event)"
            [attr.id]="'init-contact-' + key"
            [placeholder]="'Enter ' + label + (required ? ' *' : '')"
            [ngClass]="{ 'invalid-input': formControl.touched && !intlClass?.[key]?.[required ? 'isRequiredValidNumber' : 'isValidNumber'] }"
            (input)="onMobileInput($event, key)"
            (blur)="formControl?.markAsTouched(); formControl?.setValue(intlClass?.[key]?.phoneNumber?.replace('+', ''))"
            [disabled]="isFieldFocused"
        />
        <div>
            <mat-error
                *ngIf="formControl.touched && !intlClass?.[key]?.[required ? 'isRequiredValidNumber' : 'isValidNumber']"
            >
                Please enter valid mobile number
            </mat-error>

            <mat-error *ngIf="formControl.errors?.otpVerificationFailed">Please verify the mobile number</mat-error>
        </div>
    </div>
</ng-template>
<ng-template #visibilityIcon let-visible="visible">
    <ng-container matSuffix *ngIf="!visible; else showIcon">
        <svg
            matSuffix
            width="24"
            height="20"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill-rule="evenodd"
            clip-rule="evenodd"
        >
            <path
                d="M12.01 20c-5.065 0-9.586-4.211-12.01-8.424 2.418-4.103 6.943-7.576 12.01-7.576 5.135 0 9.635 3.453 11.999 7.564-2.241 4.43-6.726 8.436-11.999 8.436zm-10.842-8.416c.843 1.331 5.018 7.416 10.842 7.416 6.305 0 10.112-6.103 10.851-7.405-.772-1.198-4.606-6.595-10.851-6.595-6.116 0-10.025 5.355-10.842 6.584zm10.832-4.584c2.76 0 5 2.24 5 5s-2.24 5-5 5-5-2.24-5-5 2.24-5 5-5zm0 1c2.208 0 4 1.792 4 4s-1.792 4-4 4-4-1.792-4-4 1.792-4 4-4z"
            />
        </svg>
    </ng-container>
    <ng-template #showIcon>
        <svg
            width="24"
            height="20"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill-rule="evenodd"
            clip-rule="evenodd"
        >
            <path
                d="M8.137 15.147c-.71-.857-1.146-1.947-1.146-3.147 0-2.76 2.241-5 5-5 1.201 0 2.291.435 3.148 1.145l1.897-1.897c-1.441-.738-3.122-1.248-5.035-1.248-6.115 0-10.025 5.355-10.842 6.584.529.834 2.379 3.527 5.113 5.428l1.865-1.865zm6.294-6.294c-.673-.53-1.515-.853-2.44-.853-2.207 0-4 1.792-4 4 0 .923.324 1.765.854 2.439l5.586-5.586zm7.56-6.146l-19.292 19.293-.708-.707 3.548-3.548c-2.298-1.612-4.234-3.885-5.548-6.169 2.418-4.103 6.943-7.576 12.01-7.576 2.065 0 4.021.566 5.782 1.501l3.501-3.501.707.707zm-2.465 3.879l-.734.734c2.236 1.619 3.628 3.604 4.061 4.274-.739 1.303-4.546 7.406-10.852 7.406-1.425 0-2.749-.368-3.951-.938l-.748.748c1.475.742 3.057 1.19 4.699 1.19 5.274 0 9.758-4.006 11.999-8.436-1.087-1.891-2.63-3.637-4.474-4.978zm-3.535 5.414c0-.554-.113-1.082-.317-1.562l.734-.734c.361.69.583 1.464.583 2.296 0 2.759-2.24 5-5 5-.832 0-1.604-.223-2.295-.583l.734-.735c.48.204 1.007.318 1.561.318 2.208 0 4-1.792 4-4z"
            />
        </svg>
    </ng-template>
</ng-template>
