@mixin generateIconBtn($btnSize, $iconSize, $iconColor) {
    width: $btnSize !important;
    height: $btnSize !important;
    min-height: $btnSize;
    line-height: $btnSize;
    .mat-button-wrapper {
        .mat-icon {
            height: $iconSize;
            width: $iconSize;
            line-height: $iconSize;
            font-size: $iconSize;
            color: $iconColor;
        }
    }
}

@mixin iconBtnHover($iconColor, $hoverBgColor, $hoverIconColor) {
    color: $iconColor !important;
    &:hover {
        background-color: $hoverBgColor !important;
        .mat-icon {
            color: $hoverIconColor !important;
        }
    }
}

@mixin btnHover($defaultTextColor, $defaultBgColor, $hoverBgColor, $hoverTextColor: null) {
    background-color: $defaultBgColor;
    color: $defaultTextColor;
    &:hover {
        background-color: $hoverBgColor;
        @if $hoverTextColor {
            color: $hoverTextColor;
        }
        .mat-button-focus-overlay {
            opacity: 0 !important;
        }
    }
}

// Responsive media query mixin

@mixin media-breakpoint-down($breakpoint) {
    @if $breakpoint == 'phone' {
        // Applies to x-small devices (portrait phones, less than 576px)
        @media (max-width: 575.98px) {
            @content;
        }
    } @else if $breakpoint == 'tablet' {
        // Applies to small devices (landscape phones, less than 768px)
        @media (max-width: 767.98px) {
            @content;
        }
    } @else if $breakpoint == 'desktop' {
        // Applies to medium devices (tablets, less than 992px)
        @media (max-width: 991.98px) {
            @content;
        }
    } @else if $breakpoint == 'lg-desktop' {
        // Applies to large devices (desktops, less than 1200px)
        @media (max-width: 1199.98px) {
            @content;
        }
    } @else if $breakpoint == 'xlg-desktop' {
        // Aapplies to xlg-large devices (large desktops, less than 1400px)
        @media (max-width: 1399.98px) {
            @content;
        }
    }
}

@mixin media-breakpoint-up($breakpoint) {
    @if $breakpoint == 'phone' {
        // Applies to x-small devices (portrait phones, less than 576px)
        @media (min-width: 576px) {
            @content;
        }
    } @else if $breakpoint == 'tablet' {
        // Applies to small devices (landscape phones, less than 768px)
        @media (min-width: 768px) {
            @content;
        }
    } @else if $breakpoint == 'desktop' {
        // Applies to medium devices (tablets, less than 992px)
        @media (min-width: 992px) {
            @content;
        }
    } @else if $breakpoint == 'lg-desktop' {
        // Applies to large devices (desktops, less than 1200px)
        @media (min-width: 1200px) {
            @content;
        }
    } @else if $breakpoint == 'xlg-desktop' {
        // Aapplies to xlg-large devices (large desktops, less than 1400px)
        @media (min-width: 1400px) {
            @content;
        }
    }
}

@mixin sideNavHoverActiveState($primary-color, $primary-color-light, $active-color, $hover-color){        
    &.active-list-item {
        .mat-line {
            font-weight: 500 !important;
            color: $active-color !important;
        }
        background: $primary-color !important;
        .mat-icon {
            color: $active-color !important;
            &.menu-svg-icon {
                 > svg {
                    color:var(--color-email-primary);
                    path {
                        fill: $active-color;
                    }
                }
            }
        }
    }
    &:not(.active-list-item):hover {
        background: $primary-color-light !important;
        .mat-line {
            color: $hover-color !important;
        }
        .mat-icon {
            color: $hover-color;
            &.menu-svg-icon {
                svg {
                    path {
                        fill: $hover-color;
                    }
                }
            }
        }
    }
    
}

/*----------------------------------------------------------------
/* Custom Scrollbar & It's Params
/*----------------------------------------------------------------
/* $scrollbarThumbColor : For scrollbar thumb color
/* $scrollbarTrackColor : For scrollbar track color
/* $scrollbarWidth : For scrollbar width
/* $scrollbarTrackRadius: For scrollbar track radius
/*
*/ 
@mixin custom-scroll-bar($scrollbarThumbColor, $scrollbarTrackColor, $scrollbarWidth, $scrollbarTrackRadius) {
    &::-webkit-scrollbar {
        width: $scrollbarWidth;
        height: $scrollbarWidth;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: $scrollbarTrackColor;
        border-radius: $scrollbarTrackRadius;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $scrollbarThumbColor; 
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $scrollbarThumbColor; 
    }
}