/* Plus imports for other components in your app.*/
@use 'assets/scss/base/default-variables';
@use 'assets/scss/base/light-theme';
@use 'assets/scss/base/dark-theme';

/* Theme*/
@use 'assets/scss/theme/default-theme';

/*Components*/
@use 'assets/scss/component/toast';
@use 'assets/scss/component/loader';
@use 'assets/scss/component/icon';
@use 'assets/scss/component/animation';
@use 'assets/scss/component/utility-classes';
@use '../../shared/scss/global';
body {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font-size: 0.875rem;
}
.text-color {
    color: var(--mat-sys-on-surface);
}
.bg-color {
    background-color: var(--color-common-bg) !important;
}
.border-color {
    border-color: var(--color-common-border) !important;
}
.secondary-text-color {
    color: var(--color-common-secondary-text) !important;
}
/*Main*/
.app-content {
    padding: 24px;
    min-height: 100%;
    height: 100vh;
    overflow-y: auto;
    @media (max-width: 768px) {
        overflow-x: auto;
    }
}

.register-user-details {
    margin-top: 5px;
    #init-contact-user {
        height: 39px;
        font-size: 15px;
    }
    .invalid-input {
        outline: 2px solid #f44336;
    }
    .iti--allow-dropdown {
        width: 100%;
    }
}

pre[class*='language-'] {
    margin: 0 !important;
    border-radius: 0 !important;
}

button {
    &.w-full {
        .mdc-button__label {
            width: 100%;
        }
    }
}
