.otp-verification-dialog {
    width: 380px;
    min-height: 350px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    display: inherit;
    flex-direction: column;
    align-items: inherit;
    // transition: all 0.5s ease;
    box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024, 0 9px 46px 8px #0000001f;
    background: #ffffff;
    color: #000000de;
    z-index: 999999 !important;
    border-radius: 10px;
    padding: 48px 32px;
    justify-content: center;
    position: relative;
    overflow-y: auto;
    @media only screen and (max-width: 768px) {
        width: 90% !important;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        .close-dialog {
            svg path {
                fill: white;
            }
        }
    }
    &.animation-container {
        -webkit-animation: login-zoom 2s;
        animation: login-zoom 2s;
        animation-fill-mode: both;
    }
    &.register-user {
        width: 600px;
        z-index: 9999999 !important;
    }

    .otp-verification-header {
        position: relative;
        .otp-verification-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #3f4346;
            margin-top: 0px;
            margin-bottom: 24px;
        }
    }
    .otp-verification-content {
        display: flex;
        flex-direction: column;
        overflow: visible;

        &.button-gap {
            gap: 8px;
        }

        .otp-mode {
            font-weight: 400;
            font-size: 14px;
            color: #3f4346;
            margin-bottom: 24px;
            .mat-radio-button {
                margin-right: 14px;
                .mat-radio-ripple {
                    width: 26px !important;
                    height: 26px !important;
                    left: calc(50% - 13px);
                    top: calc(50% - 15px);
                }
                .mat-radio-container,
                .mat-radio-outer-circle,
                .mat-radio-inner-circle {
                    width: 16px !important;
                    height: 16px !important;
                }
            }
        }
        .otp-verification-sub-title {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #3f4346;
            margin-bottom: 16px;
            margin-top: 0px;
            .input-email {
                max-width: 290px;
                display: block;
            }
        }
        .resend-otp {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #5d6164;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 24px;
            a {
                color: #1157a6 !important;
                font-weight: 500;
                padding: 0px 4px;
                font-size: 12px;
            }
            .mat-button-disabled {
                pointer-events: none;
                color: #c1c5c8 !important;
            }
        }
    }
    .mat-progress-bar {
        position: absolute;
        width: 372px;
        top: 0px;
        &.mat-progress-bar {
            border-radius: 8px 8px 0px 0px;
            @media screen and (max-width: 700px) {
                border-radius: 0px;
            }
        }
        .mat-progress-bar-fill::after {
            background-color: #1157a6 !important;
        }
        @media screen and (max-width: 700px) {
            width: 100%;
        }
    }
}
.otp-verification-footer {
    // margin-top: 64px;
    font-weight: 400;
    font-size: 12px;
    color: #8f9396;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    // background-color: #3f4346;
    // border-radius: 8px;
    // padding: 6px 8px;
    position: fixed;
    left: 28px;
    bottom: 28px;
    img {
        margin-left: 8px;
    }
    @media only screen and (max-width: 768px) {
        text-align: center;
        width: 80%;
    }
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 37, 40, 0.7);
}

// .mat-form-field-wrapper {
//     margin: 0px !important;
// }
// .mat-form-field-appearance-outline {
//     .mat-form-field-infix {
//         padding: 1.2em 0 0.8em 0 !important;
//         border-top: 0px solid transparent !important;
//         font-size: 14px;
//         font-weight: 400;
//         color: #3f4346;
//         .mat-input-element {
//             &::-webkit-input-placeholder {
//                 /* Chrome/Opera/Safari */
//                 color: #8f9396;
//                 font-weight: 400;
//             }
//             &::-moz-placeholder {
//                 /* Firefox 19+ */
//                 color: #8f9396;
//                 font-weight: 400;
//             }
//             &:-ms-input-placeholder {
//                 /* IE 10+ */
//                 color: #8f9396;
//                 font-weight: 400;
//             }
//             &:-moz-placeholder {
//                 /* Firefox 18- */
//                 color: #8f9396;
//                 font-weight: 400;
//             }
//         }
//     }
//     .mat-form-field-flex {
//         .mat-form-field-outline {
//             .mat-form-field-outline-start {
//                 border-radius: 4px 0 0 4px;
//                 min-width: 8px;
//             }
//             .mat-form-field-outline-end {
//                 border-radius: 0 4px 4px 0;
//             }
//         }
//     }
// }

.disabled {
    pointer-events: none;
}

// Utility Classes
.overflow-dotted {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

@keyframes login-zoom {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animation-complete {
    opacity: 0;
    transform: scale(0.6);
}
.subscription-dialog {
    min-height: 350px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    display: inherit;
    flex-direction: column;
    align-items: inherit;
    // transition: all 0.5s ease;
    box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024, 0 9px 46px 8px #0000001f;
    background: #ffffff;
    color: #000000de;
    z-index: 999999 !important;
    border-radius: 10px;
    justify-content: center;
    position: relative;
    overflow-y: auto;
    @media only screen and (max-width: 768px) {
        width: 90% !important;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        .close-dialog {
            svg path {
                fill: white;
            }
        }
    }
    &.animation-container {
        -webkit-animation: login-zoom 2s;
        animation: login-zoom 2s;
        animation-fill-mode: both;
    }
    &.register-user {
        width: 600px;
        z-index: 9999999 !important;
    }

    .otp-verification-header {
        position: relative;
        .otp-verification-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #3f4346;
            margin-top: 0px;
            margin-bottom: 24px;
        }
    }
    .otp-verification-content {
        display: flex;
        flex-direction: column;
        overflow: visible;

        &.button-gap {
            gap: 8px;
        }

        .otp-mode {
            font-weight: 400;
            font-size: 14px;
            color: #3f4346;
            margin-bottom: 24px;
            .mat-radio-button {
                margin-right: 14px;
                .mat-radio-ripple {
                    width: 26px !important;
                    height: 26px !important;
                    left: calc(50% - 13px);
                    top: calc(50% - 15px);
                }
                .mat-radio-container,
                .mat-radio-outer-circle,
                .mat-radio-inner-circle {
                    width: 16px !important;
                    height: 16px !important;
                }
            }
        }
        .otp-verification-sub-title {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #3f4346;
            margin-bottom: 16px;
            margin-top: 0px;
            .input-email {
                max-width: 290px;
                display: block;
            }
        }
        .resend-otp {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #5d6164;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 24px;
            a {
                color: #1157a6 !important;
                font-weight: 500;
                padding: 0px 4px;
                font-size: 12px;
            }
            .mat-button-disabled {
                pointer-events: none;
                color: #c1c5c8 !important;
            }
        }
    }
    .mat-progress-bar {
        position: absolute;
        width: 372px;
        top: 0px;
        &.mat-progress-bar {
            border-radius: 8px 8px 0px 0px;
            @media screen and (max-width: 700px) {
                border-radius: 0px;
            }
        }
        .mat-progress-bar-fill::after {
            background-color: #1157a6 !important;
        }
        @media screen and (max-width: 700px) {
            width: 100%;
        }
    }
}
