/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Layout*/
@import 'assets/scss/layout/positions.scss';
@import 'assets/scss/layout/spacing.scss';
@import 'assets/scss/layout/display.scss';

/* Components*/
@import 'assets/scss/component/form-field';
@import 'assets/scss/component/tabs';

:root {
    --color-common-dark: #000000;
    --color-common-slate: #333333;
    --color-common-rock: #5d6164;
    --color-common-grey: #333333;
    --color-common-cloud: #c1c5c8;
    --color-common-smoke: #d5d9dc;
    --color-common-white: #ffffff;
    --color-common-black: #000000;
    --border-common-radius-4: 4px;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-24: 24px;
    --font-size-28: 28px;
    --font-size-30: 30px;
    --font-size-36: 36px;
}

// Theme
$custom-blue: (
    50: #e6f2fb,
    100: #a4cff0,
    200: #74b5e9,
    300: #3794df,
    400: #2286d4,
    500: #1e75ba,
    600: #1a64a0,
    700: #155485,
    800: #11436b,
    900: #0d3351,
    A100: #d8eeff,
    A200: #72c1ff,
    A400: #1b92ef,
    A700: #1c84d6,
    contrast: (
        // 50: $dark-primary-text,
        // 100: $dark-primary-text,
        // 200: $dark-primary-text,
        // 300: $dark-primary-text,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        // A100: $dark-primary-text,
        // A200: $dark-primary-text,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$primary: mat.define-palette($custom-blue);
$accent: mat.define-palette($custom-blue);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
        ),
    )
);

/*
// Include all theme styles for the components.
*/

/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

*,
proxy-auth,
.iti__country-list {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

.error-snackbar {
    background-color: #cc5229 !important;
    color: #ffffff !important;
}
.success-snackbar {
    background-color: #008000 !important;
    color: #ffffff !important;
}
.mat-snack-bar-container {
    margin: 4px !important;
    border-radius: 8px;
    min-height: 36px;
    padding: 10px 16px;
    .mat-simple-snackbar-content {
        font-size: 14px;
        color: #ffffff;
    }
}
.default-snackbar {
    .mat-simple-snackbar-action .mat-button {
        color: #ffffff !important;
        background-color: var(--color-email-primary) !important;
    }
}

.common-btn {
    &.mat-button {
        color: #000000 !important;
        .mat-button-focus-overlay {
            background-color: #000000 !important;
        }
    }
}
