<div class="position-relative mat-right-dialog-container">
    <div
        *ngIf="showPage === 'newMethod'"
        class="mat-right-dialog-header d-flex align-items-center justify-content-between"
    >
        <h2 class="mat-subheading-2 mb-0 text-dark">Choose Verfication Method</h2>
        <button mat-icon-button mat-dialog-close color="primary">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="mat-right-dialog-content">
        <div [formGroup]="defineMethodForm" *ngIf="showPage === 'newMethod'">
            <div class="d-flex align-items-center gap-4">
                <mat-form-field appearance="outline" floatLabel="always" class="w-25">
                    <mat-select
                        placeholder="Select Verfication Method"
                        (selectionChange)="onSelectionChange($event)"
                        formControlName="methodVerfication"
                    >
                        <mat-option [value]="method" *ngFor="let method of veriFicationMethod">{{ method }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <ng-container *ngIf="dialogStep == 1">
                    <ng-container
                        *ngTemplateOutlet="
                            inputField;
                            context: {
                                fieldControl: defineMethodForm.get('policyName'),
                                fieldConfig: {
                                    label: 'Policy name',
                                    is_required: true
                                }
                            }
                        "
                    ></ng-container>
                </ng-container>
            </div>
            <mat-divider class="mb-3"></mat-divider>
            <ng-container *ngIf="dialogStep === 1">
                <p class="mat-body-2 fw-bold mt-0 mb-3">Inbound Configuration</p>
                <div class="border pl-4 rounded-8 mb-3">
                    <div class="d-flex">
                        <div class="w-50">
                            <div class="d-flex align-items-center gap-2">
                                <h5 class="mat-body-2">Key</h5>
                                <mat-icon
                                    matSuffix
                                    class="material-icons-outlined mat-icon-20"
                                    matTooltip="The 'project identification in URL' is a key element used by the proxy server to route requests to the appropriate project and environment"
                                    matTooltipPosition="right"
                                >
                                    info
                                </mat-icon>
                            </div>

                            <ng-container
                                class="w-75"
                                *ngTemplateOutlet="
                                    inputField;
                                    context: {
                                        fieldControl: defineMethodForm.get('authorizationKey'),
                                        fieldConfig: {
                                            label: 'Authorization',
                                            is_required: true
                                        }
                                    }
                                "
                            >
                            </ng-container>
                        </div>

                        <div class="w-50">
                            <div class="d-flex align-items-center gap-2">
                                <h5 class="mat-body-2">Key location</h5>
                                <mat-icon
                                    matSuffix
                                    class="material-icons-outlined mat-icon-20"
                                    matTooltip="The 'project identification in URL' is a key element used by the proxy server to route requests to the appropriate project and environment"
                                    matTooltipPosition="right"
                                >
                                    info
                                </mat-icon>
                            </div>
                            <ng-container>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-75">
                                    <mat-select placeholder="Select" formControlName="inboundKeyLocation">
                                        <mat-option [value]="location" *ngFor="let location of keyLocation">{{
                                            location
                                        }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <p class="mat-body-2 fw-bold mt-0">Verificaton Configuration</p>
                <div class="border pl-4 rounded-8 mb-3">
                    <div class="d-flex align-items-center gap-2">
                        <h5 class="mat-body-2">Verificaton Url</h5>
                        <mat-icon
                            matSuffix
                            class="material-icons-outlined mat-icon-20"
                            matTooltip="The 'project identification in URL' is a key element used by the proxy server to route requests to the appropriate project and environment"
                            matTooltipPosition="right"
                        >
                            info
                        </mat-icon>
                    </div>
                    <div class="d-flex gap-4">
                        <mat-form-field appearance="outline" floatLabel="always" class="w-25">
                            <mat-select placeholder="Select" formControlName="requestType">
                                <mat-option [value]="method" *ngFor="let method of requestTypes">{{
                                    method
                                }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <ng-container
                            *ngTemplateOutlet="
                                inputField;
                                context: {
                                    fieldControl: defineMethodForm.get('verificationUrl'),
                                    fieldConfig: {
                                        label: 'Verfication Url',
                                        is_required: true
                                    }
                                }
                            "
                        >
                        </ng-container>
                    </div>

                    <div class="d-flex">
                        <div class="w-50">
                            <div class="d-flex align-items-center gap-2">
                                <h5 class="mat-body-2">Key</h5>
                                <mat-icon
                                    matSuffix
                                    class="material-icons-outlined mat-icon-20"
                                    matTooltip="The 'project identification in URL' is a key element used by the proxy server to route requests to the appropriate project and environment"
                                    matTooltipPosition="right"
                                >
                                    info
                                </mat-icon>
                            </div>
                            <ng-container
                                *ngTemplateOutlet="
                                    inputField;
                                    context: {
                                        fieldControl: defineMethodForm.get('authKey'),
                                        fieldConfig: {
                                            label: 'Auth Key',
                                            is_required: true
                                        }
                                    }
                                "
                            >
                            </ng-container>
                        </div>
                        <div class="w-50">
                            <div class="d-flex align-items-center gap-2">
                                <h5 class="mat-body-2">Key Location</h5>
                                <mat-icon
                                    matSuffix
                                    class="material-icons-outlined mat-icon-20"
                                    matTooltip="The 'project identification in URL' is a key element used by the proxy server to route requests to the appropriate project and environment"
                                    matTooltipPosition="right"
                                >
                                    info
                                </mat-icon>
                            </div>

                            <mat-form-field appearance="outline" floatLabel="always" class="w-75">
                                <mat-select
                                    placeholder="Select Input Location"
                                    formControlName="verficationKeyLocation"
                                >
                                    <mat-option [value]="location" *ngFor="let location of keyLocation">{{
                                        location
                                    }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <p class="mat-body-2 fw-bold mt-0">Response Configuration</p>
                <div class="border pl-4 rounded-8 d-flex">
                    <div class="w-50">
                        <div class="d-flex align-items-center gap-2">
                            <h5 class="mat-body-2">Key</h5>
                            <mat-icon
                                matSuffix
                                class="material-icons-outlined mat-icon-20"
                                matTooltip="The 'project identification in URL' is a key element used by the proxy server to route requests to the appropriate project and environment"
                                matTooltipPosition="right"
                            >
                                info
                            </mat-icon>
                        </div>

                        <ng-container
                            class="w-75"
                            *ngTemplateOutlet="
                                inputField;
                                context: {
                                    fieldControl: defineMethodForm.get('responseAuthorizationKey'),
                                    fieldConfig: {
                                        label: 'Authorization',
                                        is_required: true
                                    }
                                }
                            "
                        >
                        </ng-container>
                    </div>

                    <div class="w-50">
                        <div class="d-flex align-items-center gap-2">
                            <h5 class="mat-body-2">Key Type</h5>
                            <mat-icon
                                matSuffix
                                class="material-icons-outlined mat-icon-20"
                                matTooltip="The 'project identification in URL' is a key element used by the proxy server to route requests to the appropriate project and environment"
                                matTooltipPosition="right"
                            >
                                info
                            </mat-icon>
                        </div>
                        <ng-container>
                            <mat-form-field appearance="outline" floatLabel="always" class="w-75">
                                <mat-select placeholder="Select" formControlName="keyType">
                                    <mat-option [value]="'jwt'">jwt</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="dialogStep == 2">
                <p class="mat-body-2 fw-bold mt-0 mb-3">Inbound Configuration</p>
                <div class="border p-3 rounded-8" style="min-height: calc(100vh - 290px)"></div>
            </ng-container>
            <div class="d-flex justify-content-end col-gap-2 mt-4">
                <button (click)="onsave()" mat-flat-button color="primary" *ngIf="dialogStep > 0">Save</button>
            </div>
        </div>
        <ng-container *ngIf="showPage === 'viasocket'">
            <button mat-icon-button mat-dialog-close color="primary">
                <mat-icon>close</mat-icon>
            </button>
            <div class="h-100" id="viasocket-embed-Container"></div>
        </ng-container>
        <ng-container *ngIf="showPage === 'updateEndpoint'"> </ng-container>
    </div>
</div>

<ng-template #inputField let-fieldControl="fieldControl" let-fieldConfig="fieldConfig">
    <mat-form-field appearance="outline" class="w-75">
        <mat-label
            >{{ fieldConfig?.label }} <span class="text-danger" *ngIf="fieldConfig?.is_required">*</span>
        </mat-label>

        <input
            matInput
            [type]="fieldConfig?.type"
            placeholder="Enter {{ fieldConfig?.label }}"
            autocomplete="off"
            [formControl]="fieldControl"
        />

        <mat-error *ngIf="fieldControl?.touched">
            <ng-container
                *ngTemplateOutlet="
                    matErrors;
                    context: {
                        fieldControl,
                        label: fieldConfig.label,
                        patternErrorText: fieldConfig?.patternErrorText
                    }
                "
            ></ng-container>
        </mat-error>

        <mat-hint *ngIf="fieldConfig?.hint">{{ fieldConfig?.hint }}</mat-hint>
    </mat-form-field>
</ng-template>
<ng-template #matErrors let-label="label" let-fieldControl="fieldControl" let-patternErrorText="patternErrorText">
    <mat-error *ngIf="fieldControl?.errors?.customError as customError"> {{ customError }} </mat-error>
    <mat-error *ngIf="fieldControl.errors?.required"> {{ label }} is required. </mat-error>
    <mat-error *ngIf="fieldControl.errors?.minlengthWithSpace"> Min required length is 3 </mat-error>
    <mat-error *ngIf="fieldControl.errors?.noStartEndSpaces"> Start and End spaces are not allowed</mat-error>
    <mat-error *ngIf="fieldControl.errors?.min as minError"> Min value required is {{ minError?.min }} </mat-error>
    <mat-error *ngIf="fieldControl.errors?.max as maxError"> Max value allowed is {{ maxError?.max }} </mat-error>
    <mat-error *ngIf="fieldControl.errors?.minlength as minLengthError">
        Min required length is {{ minLengthError?.requiredLength }}
    </mat-error>
    <mat-error *ngIf="fieldControl.errors?.maxlength as maxLengthError">
        Max allowed length is {{ maxLengthError?.requiredLength }}
    </mat-error>
    <mat-error *ngIf="fieldControl.errors?.pattern">
        {{ patternErrorText ?? 'Enter valid ' + label }}
    </mat-error>
    <mat-error *ngIf="fieldControl?.errors?.atleastOneValueInChipList"> Atleast One Value is Required </mat-error>
</ng-template>
