@if (data.isLoading$ | async) {
    <proxy-loader></proxy-loader>
}
<!-- Top Fixed Header::START -->
<div matDialogContent>
    <h2 class="mat-title mat-subheading-2 mb-0 text-dark">Logs Details</h2>
</div>
<!-- Top Fixed Header::END -->

<!-- Content::START -->
@if (data) {
    <mat-dialog-content>
        @if (data.logData$ | async; as logdata) {
            @if (!data?.logSettings || data?.logSettings?.store_headers) {
                <ng-container
                    [ngTemplateOutlet]="jsonCard"
                    [ngTemplateOutletContext]="{ title: 'Headers', jsonData: logdata?.headers }"
                ></ng-container>
            }
            @if (!data?.logSettings || data?.logSettings?.store_requestBody) {
                <ng-container
                    [ngTemplateOutlet]="jsonCard"
                    [ngTemplateOutletContext]="{ title: 'Request body', jsonData: logdata?.request_body }"
                ></ng-container>
            }
            @if (!data?.logSettings || data?.logSettings?.store_response) {
                <ng-container
                    [ngTemplateOutlet]="jsonCard"
                    [ngTemplateOutletContext]="{ title: 'Response', jsonData: logdata?.response }"
                ></ng-container>
            }
        } @else {
            @if ((data.isLoading$ | async) === false) {
                <proxy-no-record-found [title]="'Log Details'" [showBtn]="false"></proxy-no-record-found>
            }
        }
    </mat-dialog-content>
}
<mat-dialog-actions align="end">
    <button mat-button (click)="onCloseDialog()">Close</button>
</mat-dialog-actions>

<ng-template #jsonCard let-title="title" let-jsonData="jsonData">
    <span class="mb-2 mt-1 mat-body-2 font-medium">{{ title }}</span>
    <mat-card class="outline-card overflow-y-auto w-break">
        <mat-card-content>
            <pre [innerHtml]="jsonData | json"></pre>
        </mat-card-content>
    </mat-card>
</ng-template>
