.loginBtn {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: medium;
    font-weight: 600;
    a {
        font-size: medium;
        font-weight: 400;
    }
}
.error-message {
    font-size: 14px;
    color: #f44336;
    margin-bottom: 16px;
}
.close-dialog {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 20px;
    height: 20px;
    line-height: 20px;

    @media only screen and (max-width: 768px) {
        position: fixed;
    }
}
.button-wrapper {
    display: flex;
    justify-content: space-between;
}
.back-button {
    position: absolute;
    left: 16px;
    top: 16px;
    width: 20px;
    height: 20px;
    line-height: 20px;

    @media only screen and (max-width: 768px) {
        position: fixed;
    }
}
.heading {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}
