.loginBtn {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: medium;
    font-weight: 600;
}
a,
p {
    font-size: small;
    font-weight: 400;
}
.forgotPassword {
    text-align: right;
}

.userInfo {
    font-size: medium;
}

.error-message {
    font-size: 14px;
    color: #f44336;
    margin-bottom: 16px;
}
.close-dialog {
    position: absolute;
    top: 16px;
    width: 20px;
    height: 20px;
    line-height: 20px;

    @media only screen and (max-width: 768px) {
        position: fixed;
    }
}
.back-button {
    left: 16px;
}
.close-button {
    right: 16px;
}
.heading {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}
.subheading {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
}

.note {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 16px;
}

.mat-icon-button {
    vertical-align: text-bottom;
}
