<div class="dialog-header">
    <button *ngIf="step !== 1" mat-icon-button class="back-button close-dialog" (click)="changeStep(1)">
        <img src="assets/logos/back-button-logo.svg" alt="back-button" loading="lazy" />
    </button>
    <button mat-icon-button mat-dialog-close class="close-dialog close-button" (click)="close(true)">
        <img src="assets/logos/close-button.svg" alt="close-button" loading="lazy" />
    </button>
</div>
<div *ngIf="step === 1" [formGroup]="loginForm" proxyMarkAllAsTouched [buttonRef]="loginBtn" (valid)="login()">
    <div class="heading">Login</div>
    <ng-container
        [ngTemplateOutlet]="formField"
        [ngTemplateOutletContext]="{
            label: 'Email',
            formControl: loginForm.get('username')
        }"
    >
    </ng-container>
    <ng-container
        [ngTemplateOutlet]="formField"
        [ngTemplateOutletContext]="{
            type: 'password',
            label: 'Password',
            formControl: loginForm.get('password')
        }"
    >
    </ng-container>
    <div class="error-message" *ngIf="apiError | async">
        {{ apiError | async }}
    </div>

    <div class="loginBtn">
        <a href="javascript:void(0)" (click)="changeStep(2)">Forgot Password?</a>
        <proxy-loader *ngIf="isLoading$ | async"></proxy-loader>
        <button mat-flat-button color="primary" #loginBtn [disabled]="isLoading$ | async">
            <span *ngIf="!(isLoading$ | async)">Login</span>
        </button>
    </div>
</div>

<div *ngIf="step === 2" [formGroup]="sendOtpForm" [buttonRef]="sendOtpBtn" (valid)="sendOtp()" proxyMarkAllAsTouched>
    <div class="heading">Reset Password</div>
    <ng-container
        [ngTemplateOutlet]="formField"
        [ngTemplateOutletContext]="{
            type: 'string',
            label: 'Email or Mobile',
            formControl: sendOtpForm.get('userDetails'),
            is_required: true
        }"
    >
    </ng-container>
    <div class="error-message" *ngIf="apiError | async">
        {{ apiError | async }}
    </div>

    <proxy-loader *ngIf="isLoading$ | async"></proxy-loader>
    <button mat-flat-button color="primary" [disabled]="isLoading$ | async" #sendOtpBtn>Send OTP</button>
</div>

<div
    *ngIf="step === 3"
    [formGroup]="resetPasswordForm"
    proxyMarkAllAsTouched
    [buttonRef]="verifyOtpBtn"
    (valid)="verfiyOtp()"
>
    <div class="heading">Change Password</div>

    <p>{{ sendOtpForm.get('userDetails').value }}</p>

    <ng-container
        [ngTemplateOutlet]="formField"
        [ngTemplateOutletContext]="{
            type: 'Number',
            label: ' OTP',
            formControl: resetPasswordForm.get('otp')
        }"
    >
    </ng-container>
    <ng-container
        [ngTemplateOutlet]="formField"
        [ngTemplateOutletContext]="{
            type: 'password',
            label: 'New Password',
            formControl: resetPasswordForm.get('password')
        }"
    >
    </ng-container>
    <ng-container
        [ngTemplateOutlet]="formField"
        [ngTemplateOutletContext]="{
            type: 'password',
            label: ' New Confirm Password',
            formControl: resetPasswordForm.get('confirmPassword')
        }"
    >
    </ng-container>
    <div class="error-message" *ngIf="apiError | async">
        {{ apiError | async }}
    </div>
    <proxy-loader *ngIf="isLoading$ | async"></proxy-loader>
    <div class="button-wrapper">
        <button mat-flat-button color="primary" (click)="resetPassword()">Change Email</button>
        <button mat-flat-button color="primary" #verifyOtpBtn [disabled]="isLoading$ | async">
            <span *ngIf="!(isLoading$ | async)">Submit</span>
        </button>
    </div>
</div>

<ng-template
    #formField
    let-type="type"
    let-label="label"
    let-hint="hint"
    let-formControl="formControl"
    let-patternError="patternError"
>
    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>{{ label }}</mat-label>
        <input
            matInput
            autocomplete="off"
            [attr.type]="type ?? 'text'"
            [formControl]="formControl"
            [placeholder]="'Enter ' + label"
        />
        <mat-error *ngIf="formControl.touched">
            <mat-error *ngIf="formControl.errors?.required">{{ label }} is required.</mat-error>
            <mat-error *ngIf="formControl.errors?.pattern">{{ label }} is invalid.</mat-error>
            <mat-error *ngIf="formControl.errors?.cannotContainSpace"> Whitespace not allowed</mat-error>
        </mat-error>
        <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    </mat-form-field>
</ng-template>
