@use '../../../../../../node_modules/@angular/material/index' as mat;

*,
*::before,
*::after {
    box-sizing: border-box;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

a {
    text-decoration: none;
}
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    cursor: default;
    color: var(--color-common-text);
    background-color: var(--color-common-bg);
    font-family: var(--font-family-common);
    -webkit-text-size-adjust: 100%;
}

// .mat-form-field-appearance-outline .mat-form-field-flex {
//     font-size: 14px;
//     // line-height: 1.225;
// }
// .mat-select-arrow-wrapper {
//     vertical-align: baseline !important;
// }

* {
    scrollbar-width: thin;
    scrollbar-color: mat.get-color-from-palette($primary) var(--color-common-bg);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    border-radius: var(--border-common-radius);
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: rgba(var(--color-common-scrollbar), 0.1);
    border-radius: var(--border-common-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--color-common-scrollbar), 0.5);
}
