@import '../utils/mixins/common-utils';
/*
// Card
*/
.mat-card {
    box-shadow: none !important;
    border-radius: var(--border-common-radius) !important;
    background-color: var(--color-common-bg) !important;
    &.responsive-card {
        @include media-breakpoint-down('tablet') {
            background-color: transparent !important;
            border: none !important;
        }
    }
    &.shadow-none {
        box-shadow: none !important;
    }
    &.outline-card {
        border: 1px solid var(--color-common-border);
        box-shadow: none !important;
    }
    @media screen and (max-width: 768px) {
        &.transparent-card {
            box-shadow: none !important;
            background-color: transparent !important;
            border-width: 0px !important;
        }
    }
    &.data-analytics-card {
        background-color: var(--color-common-graph-bg) !important;
    }

    &.default-card {
        background-color: var(--color-common-graph-bg) !important;
    }

    &.mat-data-card {
        padding: 24px 32px;
        .mat-data-card-content {
            .mat-data-card-value {
                padding-left: 32px;
                p {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 4px;
                }
                h3 {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                }
            }
        }
        &.delivered {
            color: var(--color-whatsApp-primary) !important;
            background-color: var(--color-whatsApp-primary-light) !important;
        }
        &.suppressed {
            background-color: var(--color-short-url-primary-light) !important;
            color: var(--color-short-url-primary) !important;
        }
        &.failed {
            background-color: var(--color-email-primary-light) !important;
            color: var(--color-email-primary) !important;
        }
    }
}
