.mat-menu-panel {
    border-radius: var(--border-common-radius) !important;
}
.more-menu {
    min-height: auto !important;
    .mat-menu-item {
        font-size: 13px;
        line-height: 36px;
        height: 36px;
        &.mat-menu-item-active {
            background-color: var(--color-common-primary-light);
            color: var(--color-common-primary) !important;
        }
    }
}
.form-scrollable {
    max-height: calc(100vh - 400px);
    overflow-y: auto;
    @media only screen and (max-width: 768px) {
        max-height: calc(100vh - 250px);
    }
}

.subscription-filter-menu {
    min-width: 500px !important;
    max-width: 500px !important;
    margin-top: 12px;
    .mat-form-field {
        .mat-form-field-wrapper {
            padding-bottom: 14px !important;
            .mat-form-field-flex {
                .mat-form-field-infix {
                    .mat-form-field-label-wrapper {
                        top: -18px;
                    }
                }
            }
        }
    }
    .form-scrollable {
        max-height: calc(100vh - 400px);
        overflow-y: auto;
        @media only screen and (max-width: 768px) {
            max-height: calc(100vh - 250px);
        }
    }
}

.logs-filter-menu, .profile-menu {
    min-width: 300px !important;
    max-width: 300px !important;
    .mat-menu-content {
        .mat-form-field {
            .mat-form-field-wrapper {
                // padding-bottom: 1.34375em !important;
                .mat-form-field-label-wrapper {
                    top: -18px !important;
                }
            }
        }
    }
}

.profile-sub-dropdown {
    .mat-menu-item {
        padding: 0px 24px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
    #scrollableWrapper {
        overflow-x: hidden !important;
    }
}