.mat-dialog-container {
    padding: 16px 24px !important;
    width: 450px !important;
    position: relative;
    border-radius: var(--border-common-radius) !important;
}

.mat-dialog-md {
    .mat-dialog-container {
        width: 100% !important;
    }
}

.mat-dialog {
    &.mat-dialog-lg {
        .mat-dialog-container {
            min-width: 800px !important;
        }
    }
}

.rejection-reason-drop + .cdk-overlay-connected-position-bounding-box {
    right: 16px !important;
}
.rejection-reason {
    min-width: 500px !important;
    max-width: 500px !important;
    margin-bottom: 10px;
    &.voice-file-rejection {
        height: 750px !important;
    }
    .mat-menu-content {
        padding-top: 0 !important;
        .rejection-reason-header {
            padding: 0px 16px;
        }
        .new-reason-form {
            padding: 0px 16px;
            top: 0;
            z-index: 999;
        }
        .rejection-list {
            overflow-y: auto;
            list-style: none;
            margin: 0px;
            padding: 16px;
            .rejection-item {
                margin-bottom: 10px;
                border: 1px dashed var(--color-common-border);
                border-radius: 4px;
                padding: 10px;
                cursor: pointer !important;
                transition: background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);
                &:hover {
                    background-color: var(--color-sidenav-menu-hover-link-background) !important;
                    border-color: var(--color-sidenav-menu-hover-link-text);
                    .title,
                    .subtitle,
                    .mat-delete-btn,
                    .rejection-item-action .mat-icon {
                        color: var(--color-sidenav-menu-hover-link-text) !important;
                    }
                    .rejection-item-action .mat-icon {
                        color: var(--color-sidenav-menu-hover-link-text);
                    }
                }
                &.selected {
                    background-color: var(--color-sidenav-menu-active-link-background) !important;
                    border-color: var(--color-sidenav-menu-active-link-text);
                    .title,
                    .subtitle,
                    .mat-delete-btn {
                        color: var(--color-sidenav-menu-active-link-text) !important;
                    }
                    .rejection-item-action .mat-icon {
                        color: var(--color-sidenav-menu-hover-link-text);
                    }
                }
            }
        }
    }
    .bottom-seprator {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 13px -6px 13px -7px #00000036;
        position: sticky;
        bottom: 0;
        background-color: var(--color-common-white);
    }
    .no-record-found {
        height: 366px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.mat-dialog-actions {
    margin: 0px !important;
}