@import '../theme/theme-colors';

.cdk-overlay-pane {
    .mat-select-panel-wrap {
        .mat-select-panel {
            .mat-option {
                &.mat-selected {
                    color: var(--color-common-text) !important;
                }
            }
        }
    }
}

// Autocomplete
.mat-autocomplete-panel {
    .mat-option{
        font-size: 14px;
        height: 40px !important;
        line-height: 40px !important;
        &:hover{
            background-color: var(--color-common-primary-light) !important;
        }
    }
}