.status {
    padding: 0px 12px;
    border-radius: 13px;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: normal;
    width: min-content;
    display: inline-block;
    text-align: center;
    height: 24px;
    line-height: 24px;

    // Used in unverified, open, status
    &.status-default {
        background-color: var(--color-common-graph-bg) !important;
        color: var(--color-common-rock) !important;
    }
    // Used in in-progress status
    &.status-pending {
        color: var(--color-hello-primary-dark) !important;
        background-color: var(--color-hello-primary-light) !important;
    }

    // Used in submitted delivered
    &.status-success {
        color: var(--color-whatsApp-primary) !important;
        background-color: var(--color-whatsApp-primary-light) !important;
    }
    // Used in removed, rejected
    &.status-failed {
        color: var(--color-email-primary) !important;
        background-color: var(--color-email-primary-light) !important;
    }
    &.status-approved {
        color: var(--color-common-primary) !important;
        background-color: var(--color-common-primary-light) !important;
    }
    &.status-warning {
        color: var(--color-short-url-primary) !important;
        background-color: var(--color-short-url-primary-light) !important;
    }
}
