@import "../../scss/utils/mixins/common-utils";
.table-scroll {
    display: block;
    @include  media-breakpoint-up('tablet') {
        height: calc(100vh - 160px);
        overflow-y: auto;
    }
}

.table-wp-scroll {
    height: calc(100vh - 180px);
    overflow-y: auto;
    display: block;
}

@media (max-width: 660px) {
    .header-mobile {
        flex-direction: column;
        align-items: flex-end !important;

        .search-box {
            width: 100%;

            .search-input {
                width: 100%;
                margin-right: 0px !important;
            }
        }
    }
}

.table-scroll-pagination {
    height: calc(100vh - 112px);
    overflow-y: auto;
    display: block;
}

.table-scroll-header {
    height: calc(100vh - 170px);
    max-height: calc(100vh - 170px);
    overflow-y: auto;
    display: block;

    .mat-table {
        .mat-header-row {
            .mat-header-cell {
                border-top: 0px !important;
            }
        }
    }
}

.default-table {
    background-color: var(--color-common-bg) !important;
    box-shadow: none;
    width: 100%;
    border-radius: var(--border-common-radius);
    &:has(.mat-no-data-row) {
        height: 100%;
    }
    .mat-header-row {
        background-color: var(--color-common-bg) !important;
        .mat-header-cell {
            font-weight: var(--font-weight-bold);
            font-size: 12px;
            color: var(--color-table-head) !important;
            border-bottom-color: var(--color-table-head-border) !important;
            &:not(:first-child) {
                padding-left: 8px;
            }
            &:first-child{
                border-top-left-radius: 8px;
            }
            &:last-child{
                border-top-right-radius: 8px;
            }
        }
    }
    .mat-row {
        .mat-cell {
            font-weight: normal;
            font-size: 14px;
            color: var(--color-table-cell);
            border-bottom-color: var(--color-table-cell-border) !important;
            @media only screen and (min-width: 768px) {
                padding-left: 8px;
                &:last-child {
                    padding-right: 24px;
                }
                &:first-child {
                    padding-left: 24px;
                }
            }
            &:not {
                &:first-of-type {
                    padding-left: 8.8px;
                }
            }
        }

        &.highlight {
            background-color: var(--color-common-bg-lighter);
        }
        &:hover:not(.mat-no-data-row) {
            background: var(--color-common-silver);
        }
        &.mat-no-data-row {
            .mat-cell {
                padding: 0px;
            }
        }
        &.last-child {
            .mat-cell {
                border-bottom: 0px;
            }
        }
        &.hover-action{
            .actions {
                opacity: 0;
            }
            @media (hover: hover) {
                &:hover{
                    .actions {
                        opacity: 1;
                    }
                }
            }
            @media (hover: none) {
                .actions{
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .mat-table {
        background-color: transparent !important;
        &.responsive-table {
            background-color: transparent;
            .mat-row {
                box-shadow: 0 0 5px rgb(0 0 0 / 10%);
                display: block;
                min-height: 30px;
                height: auto;
                border-radius: 5px;
                margin-bottom: 16px;
                background-color: var(--color-common-white);
                border: 1px solid var(--color-common-border);
                &:not(.mat-no-data-row) {
                    display: grid;
                    grid-template-columns: auto auto;
                }
                .mat-cell {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    word-wrap: break-word;
                    min-height: inherit;

                    border-bottom: 1px solid var(--color-table-cell-border);
                    display: block;
                    text-align: left;
                    font-weight: 500;
                    height: auto;
                    padding: 6px 8px;
                    display: grid;
                    font-size: 12px;
                    &:before {
                        content: attr(data-label);
                        float: left;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 10px;
                        color: var(--color-common-rock);
                    }
                    &:last-child {
                        border-bottom: 0;
                    }
                    &:nth-child(even) {
                        text-align: right;
                        // &:after {
                        //     content: attr(data-label);
                        //     float: left;
                        //     text-transform: uppercase;
                        //     font-weight: 500;
                        //     font-size: 10px;
                        //     color: var(--color-common-rock);
                        // }
                        // &:before {
                        //     display: none;
                        // }
                    }
                    &.action-column-m {
                        height: 62px;
                    }
                    &.justify-content-end {
                        justify-content: end;
                    }
                    &.justify-content-start {
                        justify-content: flex-start;
                    }
                }
            }
            .mat-footer-row {
                display: flex;
                align-items: center;
                box-sizing: border-box;
                min-height: 30px;
                height: auto;
                .mat-footer-cell {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    word-wrap: break-word;
                    min-height: inherit;
                }
            }
            .mat-header-row {
                display: flex;
                align-items: center;
                box-sizing: border-box;
                min-height: 48px;
                height: auto;
                .mat-header-cell {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    word-wrap: break-word;
                    min-height: inherit;
                    &:first-child {
                        padding-left: 8px;
                    }
                }
            }

            thead {
                display: none;
            }
        }
    }
}

.v-align-middle {
    vertical-align: middle;
}
.v-align-top {
    vertical-align: top;
}

// Expandable table Ex: template table
.expandable-table {
    .mat-row {
        &:not(.expandable-row-table) {
            cursor: pointer;
            .mat-cell {
                border-bottom-width: 0px !important;
            }
        }
        &.expandable-row-table {
            height: 0;
        }
        .mat-cell {
            .expandable-element-detail {
                overflow: hidden;
                display: flex;
                background-color: var(--color-common-bg);
            }
        }
    }
}
