@use '../../../../../../node_modules/@angular/material/index' as mat;
/*
// Tabs
*/
.mat-tab-header {
    .mat-tab-labels {
        margin-left: 14px;
        margin-right: 16px;
        .mat-tab-label {
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            opacity: 1;
            &.mat-tab-label-active {
                font-weight: 600;
                color: mat.get-color-from-palette($primary);
            }
        }
    }
}
