@use '../../../../../../node_modules/@angular/material/index' as mat;
@import '../theme/theme-colors';

/* Font Weight */
.fw-thin {
    font-weight: 100 !important;
}
.fw-regular {
    font-weight: 400 !important;
}
.fw-bold {
    font-weight: 500 !important;
}
.fw-bolder {
    font-weight: 600 !important;
}
.fw-normal {
    font-weight: normal !important;
}

/* Text Color */
.text-primary-muted {
    color: var(--color-common-grey);
}
.text-white {
    color: var(--color-common-white);
}
.text-dark {
    color: var(--color-common-text) !important;
}
.text-secondary {
    color: var(--color-common-dark) !important;
}
.theme-primary {
    color: var(--color-common-primary) !important;
}
.text-success {
    color: var(--color-whatsApp-primary) !important;
}
.text-pending {
    color: var(--color-short-url-primary);
}
.text-danger {
    color: mat.get-color-from-palette($warn) !important;
}
.text-primary {
    color: var(--color-common-primary) !important;
}
.text-white {
    color: var(--color-common-white);
}
.text-grey {
    color: var(--color-common-grey) !important;
}
.text-hover-primary {
    &:hover {
        color: var(--color-common-primary) !important;
    }
}
.text-hover-underline {
    &:hover {
        text-decoration: underline;
    }
}
/*
// Opacity
*/

.t-opacity-5 {
    opacity: 0.5;
}
.t-opacity-6 {
    opacity: 0.6;
}
.t-opacity-7 {
    opacity: 0.7;
}
.t-opacity-8 {
    opacity: 0.8;
}
.t-opacity-9 {
    opacity: 0.9;
}
.w-break {
    word-break: break-word;
}

.t-capitalize {
    text-transform: capitalize;
}

.text-underline {
    text-decoration: underline;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    a {
        &:link {
            color: var(--color-link-color) !important;
        }
        &:visited {
            color: var(--color-link-color) !important;
        }
        &:hover {
            color: var(--color-link-color) !important;
        }
        &:active {
            color: var(--color-link-color) !important;
        }
    }
}

.tooltip-list {
    white-space: pre;
    font-size: 12px;
    list-style: none;
}

.custom-tooltip {
    max-width: unset !important;
}

.word-break {
    word-break: break-all;
}
.fr-emoticon-img {
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    display: inline-block;
}
.pointer-none {
    pointer-events: none !important;
}
// Text size
.font-10 {
    font-size: 10px !important;
}
.font-11 {
    font-size: 11px !important;
}
.font-12 {
    font-size: 12px !important;
}
.font-14 {
    font-size: var(--font-size-common-14) !important;
}
.font-20 {
    font-size: var(--font-size-common-20) !important;
}

.w-b-hyphens {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.border-none {
    border: none !important;
}