.app-content {
    height: 100vh;
}
.mat-horizontal-stepper-header-container {
    display: none !important;
}
.mat-horizontal-stepper-wrapper {
    display: none;
}
.rateInput {
    width: 10%;
    outline: 0 !important;
    border-width: 0 0 2px !important;
    border-color: blue;
}
.mat-step-header {
    display: none;
}
.rateLimitContainer {
    gap: 15px;
}
.info-container {
    position: relative;
    display: inline-block;
}

.info-card {
    position: absolute;
    top: 30px; /* Adjust as needed */
    left: 0;
    z-index: 1000;
    width: 250px; /* Adjust width as needed */
    padding: 10px;
    background-color: rgb(24, 21, 21);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: opacity 0.3s;
}
