<div class="app-content d-flex justify-content-center">
    <mat-stepper #stepper class="w-75 border rounded-8" labelPosition="bottom" [formGroup]="projectForm">
        <mat-step [stepControl]="projectForm.get('primaryDetails')">
            <div class="d-flex flex-column h-100" formGroupName="primaryDetails">
                <h1 class="fw-bold">Create Project</h1>
                <ng-container *ngTemplateOutlet="createProject"></ng-container>
                <div class="d-flex align-items-center justify-content-end">
                    <button type="submit" mat-flat-button color="primary" matStepperNext (click)="onSubmit()">
                        Next
                        <mat-icon class="material-icons-outlined mat-icon-18 mat-icon-suffix">navigate_next</mat-icon>
                    </button>
                </div>
            </div>
        </mat-step>

        <mat-step [stepControl]="projectForm.get('gatewayUrlDetails')">
            <div class="d-flex flex-column h-100" formGroupName="gatewayUrlDetails">
                <ng-container>
                    <h1 class="fw-bold">Add Gateway URL</h1>
                    <p>
                        The Gateway URL is the entry point through which incoming requests are received and forwarded to
                        the Proxy Server for processing
                    </p>
                </ng-container>

                <ng-container *ngTemplateOutlet="gateWayUrl"></ng-container>
                <div class="d-flex align-items-center justify-content-between">
                    <button type="button" mat-flat-button class="flat-default" matStepperPrevious>
                        <mat-icon class="material-icons-outlined mat-icon-18 mat-icon-prefix">navigate_before</mat-icon
                        >Back
                    </button>
                    <button type="button" mat-flat-button color="primary" matStepperNext>
                        Next
                        <mat-icon class="material-icons-outlined mat-icon-18 mat-icon-suffix">navigate_next</mat-icon>
                    </button>
                </div>
            </div>
        </mat-step>

        <mat-step [stepControl]="projectForm.get('destinationUrl')">
            <div class="d-flex flex-column h-100" formGroupName="destinationUrl">
                <ng-container>
                    <h1 class="fw-bold">Add Destination Url</h1>
                    <p class="mat-body-2 text-secondary fw-bold">
                        The destination URL refers to the targeted URL or endpoint where the request will be forwarded
                        by the proxy Server.
                    </p>
                </ng-container>
                <ng-container *ngTemplateOutlet="desnationUrl"></ng-container>
                <div class="d-flex align-items-center justify-content-between">
                    <button type="button" mat-flat-button class="flat-default" matStepperPrevious>
                        <mat-icon class="material-icons-outlined mat-icon-18 mat-icon-prefix">navigate_before</mat-icon
                        >Back
                    </button>
                    <button mat-raised-button color="accent" (click)="submit()">Submit</button>
                </div>
            </div>
        </mat-step>
    </mat-stepper>
</div>

<ng-template #createProject let-nameControl="nameControl">
    <div class="my-3 flex-grow-1 mt-5">
        <form class="w-50">
            <ng-container
                *ngTemplateOutlet="
                    inputField;
                    context: {
                        fieldControl: projectForm.get('primaryDetails.name'),
                        fieldConfig: {
                            label: 'Enter Your project name',
                            is_required: true,
                            patternErrorText: 'Name must contain only alphanumeric and underscore'
                        }
                    }
                "
            ></ng-container>
        </form>
        <!-- <p class="mat-body-2 text-secondary fw-bold">Selec</p> -->
        <form class="w-50">
            <mat-form-field class="w-100">
                <mat-label>Select Multiple Environment</mat-label>
                <mat-select [formControl]="projectForm.get('primaryDetails.environments')" multiple>
                    <mat-option value="Dev">Dev</mat-option>
                    <mat-option value="Prod">Prod</mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="projectForm.get('primaryDetails.enviromentType').invalid">
                    Please select at least one environment.
                </mat-error> -->
            </mat-form-field>
        </form>
        <div class="d-flex rateLimitContainer">
            <form class="rateInput">
                <ng-container
                    *ngTemplateOutlet="
                        inputField;
                        context: {
                            fieldControl: projectForm.get('primaryDetails.rateLimit_hit'),
                            fieldConfig: {
                                label: 'Hits',
                                type: 'number',
                                patternErrorText: 'Name must contain only alphanumeric and underscore'
                            }
                        }
                    "
                ></ng-container>
            </form>
            <p class="fw-bold mt-5">Hits per</p>
            <form class="rateInput">
                <ng-container
                    *ngTemplateOutlet="
                        inputField;
                        context: {
                            fieldControl: projectForm.get('primaryDetails.rateLimit_minute'),
                            fieldConfig: {
                                label: 'number',
                                type: 'number',

                                patternErrorText: 'Name must contain only alphanumeric and underscore'
                            }
                        }
                    "
                ></ng-container>
            </form>
            <p class="fw-bold mt-5">minute</p>
        </div>
    </div>
</ng-template>
<ng-template #gateWayUrl>
    <div class="d-flex mt-5 h-75">
        <div class="my-3 w-40">
            <h3>Provide your own</h3>

            <mat-checkbox formControlName="urlControl">Same for all environments</mat-checkbox>

            <ng-container>
                <h3 class="mb-0">Development</h3>
                <ng-container
                    *ngTemplateOutlet="
                        inputField;
                        context: {
                            fieldControl: projectForm.get('gatewayUrlDetails.devUrl'),
                            fieldConfig: {
                                label: 'Development URL',
                                patternErrorText: 'URL must contain only alphanumeric and underscore'
                            }
                        }
                    "
                ></ng-container>
                <h3 class="mb-0">Production</h3>
                <ng-container
                    *ngTemplateOutlet="
                        inputField;
                        context: {
                            fieldControl: projectForm.get('gatewayUrlDetails.prodUrl'),
                            fieldConfig: {
                                label: 'Production URL',
                                patternErrorText: 'URL must contain only alphanumeric and underscore'
                            }
                        }
                    "
                ></ng-container>
            </ng-container>
        </div>
        <div class="p-5 mt-5">
            <h2>OR</h2>
        </div>
        <div class="w-50">
            <h3>Use ours</h3>

            <div>
                <h4>Development</h4>
                <a href="baseurl">{{ baseurl }}</a
                ><mat-icon> content_copy </mat-icon>
            </div>
            <div>
                <h4>Production</h4>
                <a href="baseurl">{{ baseurl }} </a><mat-icon> content_copy </mat-icon>
            </div>
            <div class="font-12 mt-3">
                <span class="fw-bolder">Note: </span>
                please copy the provided Gateway URL and utilize it within your user interface to invoke the API by
                specifying the desired endpoint for seamless request forwarding to the Proxy Server
            </div>
        </div>
    </div>
</ng-template>
<ng-template #desnationUrl>
    <div class="my-3 flex-grow-1">
        <form class="w-50">
            <p class="mat-body-2 text-secondary fw-bold">
                project unique identification In URL
                <span class="info-container" (mouseenter)="showCard = true" (mouseleave)="showCard = false">
                    <mat-icon>info</mat-icon>
                    <mat-card class="info-card" *ngIf="showCard">
                        <mat-card-content>
                            <!-- Your information here -->
                            This is the information card displayed on hover.
                        </mat-card-content>
                    </mat-card>
                </span>
            </p>
            <ng-container
                *ngTemplateOutlet="
                    inputField;
                    context: {
                        fieldControl: projectForm.get('destinationUrl.uniqueIdentifiCation'),
                        fieldConfig: {
                            label: 'endpoint',
                            is_required: true
                        }
                    }
                "
            ></ng-container>
        </form>
        <form class="w-50">
            <div class="d-flex">
                <div>
                    <h4 class="m-0 fw-bold">Development</h4>
                    <mat-icon>double_arrow</mat-icon>
                    <p class="m-0">forward to</p>
                </div>
                <ng-container
                    class="pt-4"
                    *ngTemplateOutlet="
                        inputField;
                        context: {
                            fieldControl: desnationUrlControl,
                            fieldConfig: {
                                label: 'Enter Url'
                            }
                        }
                    "
                ></ng-container>
            </div>
        </form>
        <form class="w-50">
            <div class="d-flex pt-4">
                <div>
                    <h4 class="m-0 fw-bold">Production</h4>
                    <mat-icon>double_arrow</mat-icon>
                    <p class="m-0">forward to</p>
                </div>
                <ng-container
                    class="mt-30"
                    *ngTemplateOutlet="
                        inputField;
                        context: {
                            fieldControl: desnationUrlControl,
                            fieldConfig: {
                                label: 'Enter Url',
                                patternErrorText: 'Name must contain only alphanumeric and underscore'
                            }
                        }
                    "
                ></ng-container>
            </div>
        </form>
    </div>
</ng-template>
<ng-template> </ng-template>

<ng-template #inputField let-fieldControl="fieldControl" let-fieldConfig="fieldConfig">
    <mat-form-field appearance="outline" class="w-100 pt-4">
        <mat-label
            >{{ fieldConfig?.label }} <span class="text-danger" *ngIf="fieldConfig?.is_required">*</span>
        </mat-label>

        <ng-container>
            <input
                matInput
                [type]="fieldConfig?.type"
                placeholder="Enter {{ fieldConfig?.label }}"
                autocomplete="off"
                [formControl]="fieldControl"
            />
        </ng-container>
        <mat-error *ngIf="fieldControl?.touched">
            <ng-container
                *ngTemplateOutlet="
                    matErrors;
                    context: {
                        fieldControl,
                        label: fieldConfig.label,
                        patternErrorText: fieldConfig?.patternErrorText
                    }
                "
            ></ng-container>
        </mat-error>

        <mat-hint *ngIf="fieldConfig?.hint">{{ fieldConfig?.hint }}</mat-hint>
    </mat-form-field>
</ng-template>

<ng-template #matErrors let-label="label" let-fieldControl="fieldControl" let-patternErrorText="patternErrorText">
    <mat-error *ngIf="fieldControl?.errors?.customError as customError"> {{ customError }} </mat-error>
    <mat-error *ngIf="fieldControl.errors?.required"> {{ label }} is required. </mat-error>
    <mat-error *ngIf="fieldControl.errors?.minlengthWithSpace"> Min required length is 3 </mat-error>
    <mat-error *ngIf="fieldControl.errors?.noStartEndSpaces"> Start and End spaces are not allowed</mat-error>
    <mat-error *ngIf="fieldControl.errors?.min as minError"> Min value required is {{ minError?.min }} </mat-error>
    <mat-error *ngIf="fieldControl.errors?.max as maxError"> Max value allowed is {{ maxError?.max }} </mat-error>
    <mat-error *ngIf="fieldControl.errors?.minlength as minLengthError">
        Min required length is {{ minLengthError?.requiredLength }}
    </mat-error>
    <mat-error *ngIf="fieldControl.errors?.maxlength as maxLengthError">
        Max allowed length is {{ maxLengthError?.requiredLength }}
    </mat-error>
    <mat-error *ngIf="fieldControl.errors?.pattern">
        {{ patternErrorText ?? 'Enter valid ' + label }}
    </mat-error>
    <!-- <mat-error *ngIf="fieldControl?.errors?.atleastOneValueInChipList"> Atleast One Value is Required </mat-error> -->
</ng-template>
