<div class="flex justify-center h-screen">
    <div class="w-3/4 border rounded-8 bg-gray" labelPosition="bottom">
        @if (currentstep === 1) {
            <div
                class="flex flex-col h-full pl-6 items-start"
                [formGroup]="primaryDetailsForm"
                proxyMarkAllAsTouched
                [buttonRef]="createProjectBtn"
                (valid)="onNextClick()"
            >
                <h4 class="font-medium text-secondary mat-body-1">Create Project</h4>
                <ng-container *ngTemplateOutlet="createProject"></ng-container>

                <button matButton="filled" #createProjectBtn>
                    Next
                    <mat-icon matSuffix class="material-icons-outlined mat-icon-18 mat-icon-suffix"
                        >navigate_next</mat-icon
                    >
                </button>
            </div>
        }
        @if (currentstep == 2) {
            <div
                class="flex flex-col h-full pl-6 items-start"
                [formGroup]="gatewayUrlDetailsForm"
                proxyMarkAllAsTouched
                [buttonRef]="gatewayUrlBtn"
                (valid)="changeStep(3)"
            >
                <h4 class="font-medium text-secondary mat-body-1 mb-1">Add Gateway URL</h4>
                <p class="font-14 m-0">
                    The Gateway URL is the entry point through which incoming requests are received and forwarded to the
                    Proxy Server for processing
                </p>

                <ng-container *ngTemplateOutlet="gateWayUrl"></ng-container>

                <button matButton="filled" #gatewayUrlBtn>
                    Next
                    <mat-icon matSuffix class="material-icons-outlined mat-icon-18 mat-icon-suffix"
                        >navigate_next</mat-icon
                    >
                </button>
            </div>
        }
        @if (currentstep == 3) {
            <div
                class="flex flex-col h-full pl-6 items-start"
                proxyMarkAllAsTouched
                [formGroup]="gatewayUrlDetailsForm"
                [buttonRef]="submitBtn"
                (valid)="submit()"
            >
                <h4 class="font-medium text-secondary mat-body-1 mb-1">Add Destination Url</h4>
                <p class="font-14 m-0">
                    The destination URL refers to the targeted URL or endpoint where the request will be forwarded by
                    the proxy Server.
                </p>

                <ng-container *ngTemplateOutlet="desnationUrl"></ng-container>
                <div class="flex items-center gap-4">
                    <button type="button" matButton="filled" class="flat-default" (click)="changeStep(2)">
                        <mat-icon matPrefix class="material-icons-outlined mat-icon-18 mat-icon-prefix"
                            >navigate_before</mat-icon
                        >Back
                    </button>
                    <button matButton="filled" matSuffix #submitBtn>Submit</button>
                </div>
            </div>
        }
    </div>
</div>

<ng-template #createProject>
    <div class="mb-6">
        <ng-container
            *ngTemplateOutlet="
                inputField;
                context: {
                    fieldControl: primaryDetailsForm.get('name'),
                    fieldConfig: {
                        label: ' Your project name',
                        is_required: true,
                        patternErrorText: 'Name must contain only alphanumeric and underscore',
                    },
                }
            "
        ></ng-container>

        <mat-form-field appearance="outline" class="w-full">
            <mat-select
                multiple
                [formControl]="primaryDetailsForm.get('selectedEnvironments')"
                placeholder="Select Environment"
            >
                @for (environment of (environments$ | async)?.data; track environment.name) {
                    <mat-option [value]="environment.name" class="mat-body-2">
                        {{ environment.name }}
                    </mat-option>
                }
            </mat-select>
            @if (
                primaryDetailsForm.get('selectedEnvironments').touched &&
                primaryDetailsForm.get('selectedEnvironments')?.errors?.required
            ) {
                <mat-error>Environment is required</mat-error>
            }
        </mat-form-field>

        <div class="flex gap-2 mt-6 w-1/2">
            <ng-container
                *ngTemplateOutlet="
                    inputField;
                    context: {
                        fieldControl: primaryDetailsForm.get('rateLimitHit'),
                        fieldConfig: {
                            label: 'Hits',
                            type: 'number',
                            is_required: true,
                            hint: 'Define rate limit hit',
                        },
                    }
                "
            ></ng-container>

            <p class="font-14 whitespace-pre">Hits per</p>

            <ng-container
                *ngTemplateOutlet="
                    inputField;
                    context: {
                        fieldControl: primaryDetailsForm.get('rateLimitMinite'),
                        fieldConfig: {
                            label: 'Second',
                            type: 'number',
                            is_required: true,
                            hint: 'Define rate limit Second',
                        },
                    }
                "
            ></ng-container>

            <p class="font-14">Second</p>
        </div>
    </div>
</ng-template>
<ng-template #gateWayUrl>
    <div class="flex" [formGroup]="gatewayUrlDetailsForm">
        <div class="w-40">
            <h5 class="font-medium text-secondary mat-body-1">Provide your own</h5>

            <mat-checkbox formControlName="useSameUrlForAll" (change)="onChange($event)"
                >Same for all environments</mat-checkbox
            >
            <div class="mt-2">
                @if (gatewayUrlDetailsForm.get('useSameUrlForAll').value) {
                    <ng-container
                        *ngTemplateOutlet="
                            inputField;
                            context: {
                                fieldControl: gatewayUrlDetailsForm.get('singleUrl'),
                                fieldConfig: {
                                    label: 'same url for all environment',
                                    patternErrorText: 'URL must contain only alphanumeric and underscore',
                                },
                            }
                        "
                    ></ng-container>
                } @else {
                    @for (control of gatewayUrls.controls; track i; let i = $index) {
                        <ng-container
                            *ngTemplateOutlet="
                                inputField;
                                context: {
                                    fieldControl: control,
                                    fieldConfig: {
                                        label: environments_with_slug[i]?.name,
                                        patternErrorText: 'URL must contain only alphanumeric and underscore',
                                    },
                                }
                            "
                        ></ng-container>
                    }
                }
            </div>
        </div>

        <div class="p-6">
            <mat-divider [vertical]="true" style="height: 90px" class="mx-6"></mat-divider>
            <h5 class="font-medium text-secondary mat-body-1 ml-1">OR</h5>
            <mat-divider [vertical]="true" style="height: 90px" class="mx-6"></mat-divider>
        </div>
        <div class="w-40">
            <h5 class="font-medium text-secondary mat-body-1">Use Ours</h5>

            @for (slug of environments_with_slug; track slug.name) {
                <div>
                    <h5 class="font-medium text-secondary mat-body-1 mb-1">{{ slug.name }}</h5>
                    <a class="[color:var(--color-link-color)]" target="_blank" [href]="slug.url">{{ slug.url }} </a>
                    <proxy-copy-button matSuffix [copyData]="slug.url" tooltip="Copy URL"></proxy-copy-button>
                </div>
            }
            <div class="font-12 mt-6">
                <span class="font-semibold">Note: </span>
                please copy the provided Gateway URL and utilize it within your user interface to invoke the API by
                specifying the desired endpoint for seamless request forwarding to the Proxy Server
            </div>
        </div>
    </div>
</ng-template>
<ng-template #desnationUrl>
    <div class="my-6 w-40">
        @if (showEndpoint) {
            <form class="flex">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Endpoint</mat-label>
                    <input matInput [formControl]="destinationUrlForm.get('endpoint')" required />
                    <mat-icon
                        matSuffix
                        class="material-icons-outlined"
                        matTooltip="The 'project identification in URL' is a key element used by the proxy server to route requests to the appropriate project and environment"
                        matTooltipPosition="right"
                    >
                        info
                    </mat-icon>
                    <mat-hint>Project unique identification In URL</mat-hint>
                </mat-form-field>
            </form>
        }
        @for (control of forwardUrls.controls; track i; let i = $index) {
            <div class="flex">
                <div class="width-md-200 flex mt-3">
                    <h5 class="m-0 font-14 font-medium">{{ environments_with_slug[i]?.name }}</h5>
                    <mat-icon matSuffix>keyboard_arrow_right</mat-icon>
                    <p class="m-0 font-14 font-medium">forward to</p>
                </div>
                <ng-container
                    class="w-full"
                    *ngTemplateOutlet="
                        inputField;
                        context: {
                            fieldControl: control,
                            fieldConfig: {
                                label: environments_with_slug[i]?.name,
                                is_required: true,
                            },
                        }
                    "
                ></ng-container>
            </div>
        }
    </div>
</ng-template>

<ng-template #inputField let-fieldControl="fieldControl" let-fieldConfig="fieldConfig">
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>
            {{ fieldConfig?.label }}
        </mat-label>

        <input
            matInput
            [type]="fieldConfig?.type"
            placeholder="Enter {{ fieldConfig?.label }}"
            autocomplete="off"
            [formControl]="fieldControl"
        />

        @if (fieldControl?.touched) {
            <mat-error>
                <ng-container
                    *ngTemplateOutlet="
                        matErrors;
                        context: {
                            fieldControl,
                            label: fieldConfig.label,
                            patternErrorText: fieldConfig?.patternErrorText,
                        }
                    "
                ></ng-container>
            </mat-error>
        }
        @if (fieldConfig?.hint) {
            <mat-hint>{{ fieldConfig?.hint }}</mat-hint>
        }
    </mat-form-field>
</ng-template>

<ng-template #matErrors let-label="label" let-fieldControl="fieldControl" let-patternErrorText="patternErrorText">
    @if (fieldControl?.errors?.customError; as customError) {
        {{ customError }}
    }
    @if (fieldControl.errors?.required) {
        {{ label }} is required.
    }
    @if (fieldControl.errors?.minlengthWithSpace) {
        Min required length is 3
    }
    @if (fieldControl.errors?.noStartEndSpaces) {
        Start and End spaces are not allowed
    }
    @if (fieldControl.errors?.min; as minError) {
        Min value required is {{ minError?.min }}
    }
    @if (fieldControl.errors?.max; as maxError) {
        Max value allowed is {{ maxError?.max }}
    }
    @if (fieldControl.errors?.minlength; as minLengthError) {
        Min required length is {{ minLengthError?.requiredLength }}
    }
    @if (fieldControl.errors?.maxlength; as maxLengthError) {
        Max allowed length is {{ maxLengthError?.requiredLength }}
    }
    @if (fieldControl.errors?.pattern) {
        {{ patternErrorText ?? 'Enter valid ' + label }}
    }
</ng-template>
