<div class="app-content d-flex flex-column" *ngIf="loading$ | async as loading">
    <proxy-loader *ngIf="loading.dataLoading && (hasSomeFeatures$ | async) === null"></proxy-loader>
    <div class="d-flex align-items-center justify-content-between gap-3">
        <h4 class="my-0 text-secondary mat-display-4" *ngIf="(hasSomeFeatures$ | async) === false">Features</h4>
        <proxy-lib-search
            *ngIf="(hasSomeFeatures$ | async) === true"
            [matFormFieldClass]="'no-padding w-xs-100'"
            [placeholder]="'Search'"
            (inputChanges)="search($event)"
            class="w-xs-100"
        ></proxy-lib-search>
        <div class="d-flex align-items-center gap-3 ml-auto">
            <button mat-flat-button color="primary" class="mat-btn-xs" [routerLink]="['/app', 'features', 'create']">
                <mat-icon class="mat-icon-prefix mat-icon-18 material-icons-outlined">add</mat-icon>
                <span class="hide-xs">Add New Blocks</span>
            </button>
            <button
                mat-flat-button
                class="flat-icon-btn flat-default"
                (click)="getFeatures()"
                matTooltip="Refresh"
                matTooltipPosition="above"
            >
                <mat-icon class="mat-icon-18">refresh</mat-icon>
            </button>
        </div>
    </div>
    <p class="mat-body-2 text-secondary w-50" *ngIf="(hasSomeFeatures$ | async) === false">
        The "Features" component in the Proxy Server is a dynamic tool that offers versatile authentication and
        subscription plan options. It supports various authentication methods like OTP and social logins (e.g., Google,
        Microsoft) while providing flexible subscription plans. Users benefit from enhanced security, cost-efficient
        resource allocation, and a user-friendly dashboard for easy configuration.
    </p>
    <mat-card class="p-0 outline-card responsive-card flex-grow-1 mt-3" *ngIf="(hasSomeFeatures$ | async) === true">
        <mat-card-content>
            <div class="table-scroll">
                <table
                    mat-table
                    [dataSource]="
                        (feature$ | async)?.data?.length
                            ? (feature$ | async)?.data
                            : loading.dataLoading
                            ? [1, 2, 3, 4, 5]
                            : []
                    "
                    class="default-table responsive-table"
                >
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-md-300">Name</th>
                        <td mat-cell *matCellDef="let element" data-label="Name">
                            <ng-container *ngIf="!loading.dataLoading; else loadingRef">
                                {{ element.name }}
                            </ng-container>
                        </td>
                    </ng-container>

                    <!-- reference_id Column -->
                    <ng-container matColumnDef="reference_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-md-300">Reference Id</th>
                        <td mat-cell *matCellDef="let element" data-label="Reference Id">
                            <ng-container *ngIf="!loading.dataLoading; else loadingRef">
                                {{ element.reference_id }}
                                <proxy-copy-button
                                    [copyData]="element.reference_id"
                                    tooltip="Copy Reference Id"
                                ></proxy-copy-button>
                            </ng-container>
                        </td>
                    </ng-container>

                    <!-- Method Column -->
                    <ng-container matColumnDef="method">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-md-200">Method</th>
                        <td mat-cell *matCellDef="let element" data-label="Method">
                            <ng-container *ngIf="!loading.dataLoading; else loadingRef">{{
                                element.method?.name
                            }}</ng-container>
                        </td>
                    </ng-container>

                    <!-- Type Column -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="width-md-200">Type</th>
                        <td mat-cell *matCellDef="let element" data-label="Type">
                            <ng-container *ngIf="!loading.dataLoading; else loadingRef">{{
                                element.feature?.name
                            }}</ng-container>
                        </td>
                    </ng-container>

                    <!-- Manage Column -->
                    <ng-container matColumnDef="manage">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element" data-label="Manage">
                            <ng-container *ngIf="!loading.dataLoading">
                                <div class="actions">
                                    <button
                                        mat-stroked-button
                                        color="primary"
                                        [routerLink]="['manage', element.id]"
                                        class="mat-btn-md"
                                    >
                                        <mat-icon class="material-icons-outlined mat-icon-18 mat-icon-prefix"
                                            >sort</mat-icon
                                        >Manage
                                    </button>
                                </div>
                            </ng-container>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns; let i = index"
                        class="hover-action"
                        [ngClass]="{ 'last-child': i + 1 === pageSizeOptions[0] }"
                    ></tr>

                    <tr *matNoDataRow>
                        <td class="mat-cell border-none" [attr.colspan]="displayedColumns.length">
                            <proxy-no-record-found [title]="'features'" [showBtn]="false"></proxy-no-record-found>
                        </td>
                    </tr>
                </table>
            </div>
            <mat-paginator-goto
                [length]="(feature$ | async)?.totalEntityCount"
                [pageSize]="(feature$ | async)?.itemsPerPage || 25"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageChange($event)"
                [pageIndex]="(feature$ | async)?.pageNumber - 1"
                class="box-shadow-none"
            ></mat-paginator-goto>
        </mat-card-content>
    </mat-card>
</div>
<ng-template #loadingRef>
    <div *skeleton="true; width: '200px'; className: ['rounded-4']"></div>
</ng-template>
