@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url(../../assets/fonts/Inter-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(../../assets/fonts/Inter-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url(../../assets/fonts/Inter-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url(../../assets/fonts/Inter-Bold.ttf) format('truetype');
}
