:host {
    width: 316px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .close-dialog {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        @media only screen and (max-width: 768px) {
            position: fixed;
        }
    }
    .input-filed-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
    .login-toggle {
        margin-top: 24px;
        font-size: 13px;
    }
}

#init-contact {
    padding-left: 50px;
    height: 36px;
    line-height: 36px;
}

#error {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    font-size: 12px;
    color: #f44336;
    text-align: left;
}

/* Firefox hide */
input[matinput][type='number'] {
    -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#country-code-number-info {
    margin: 0;
    // padding: 4px 8px;
    font-size: 12px;
    text-align: left;
    color: #5d6164;
    height: 14px;
    margin-top: 24px;
}
.create-account {
    font-size: small;
    font-weight: 400;
    margin: 0px;
}
