:host {
    width: 316px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .close-dialog {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        @media only screen and (max-width: 768px) {
            position: fixed;
        }
    }
    .input-filed-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
    .login-toggle {
        margin-top: 24px;
        font-size: 13px;
    }
}

#init-contact {
    padding-left: 50px;
    height: 36px;
    line-height: 36px;
}

#error {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    font-size: 12px;
    color: #f44336;
    text-align: left;
}

/* Firefox hide */
input[matinput][type='number'] {
    -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#country-code-number-info {
    margin: 0;
    // padding: 4px 8px;
    font-size: 12px;
    text-align: left;
    color: #5d6164;
    height: 14px;
    margin-top: 24px;
}
.create-account {
    font-size: small;
    font-weight: 400;
    margin-top: 16px;
}

// Login section styles
.login-section {
    width: 100%;
}

.heading {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.input-width {
    width: 100%;
}

.login-field {
    width: 100%;
    margin-top: 16px;

    .mat-icon-button {
        height: 40px;
        width: 40px;
        line-height: 40px;
    }
}

.login-btn {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: medium;
    font-weight: 600;
    margin-top: 16px;
}

.error-message {
    font-size: 14px;
    color: #f44336;
    margin-bottom: 16px;
}

.resize-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-right: -8px;

    svg {
        display: block;
    }
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.subheading {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
}

.note {
    font-size: 12px;
    line-height: 18px;
}

.divider-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

.divider-line {
    flex: 1;
    height: 1px;
    background-color: #e0e0e0;
}

.divider-text {
    padding: 0 16px;
    font-size: 12px;
    color: #5d6164;
    font-weight: 500;
}

a {
    font-size: small;
    font-weight: 400;
    margin: 0px;
}

p {
    font-size: small;
    font-weight: 400;
    margin: 0px;
}

.hcaptcha-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.forgot-password {
    text-align: right;
}

.back-button {
    position: absolute;
    left: 16px;
    top: 16px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    @media only screen and (max-width: 768px) {
        position: fixed;
    }
}

.user-info {
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;

    a {
        margin-left: 8px;
        color: #1976d2;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
