<ng-container>
    <button mat-icon-button mat-dialog-close class="close-dialog" (click)="close(true)">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M11.8334 1.34163L10.6584 0.166626L6.00008 4.82496L1.34175 0.166626L0.166748 1.34163L4.82508 5.99996L0.166748 10.6583L1.34175 11.8333L6.00008 7.17496L10.6584 11.8333L11.8334 10.6583L7.17508 5.99996L11.8334 1.34163Z"
                fill="#5D6164"
            />
        </svg>
    </button>
    <div class="otp-verification-content button-gap">
        <ng-container *ngIf="selectWidgetData$ | async as widgetDataArray">
            <ng-container *ngFor="let widgetData of widgetDataArray">
                <button
                    *ngIf="widgetData?.service_id !== featureServiceIds.Msg91OtpService || !(otpScriptLoading | async)"
                    mat-raised-button
                    (click)="onVerificationBtnClick(widgetData)"
                    style="padding: 10px 50px !important"
                    class="mat-elevation-z2"
                >
                    <img [src]="widgetData.icon" [alt]="widgetData.text" style="margin-right: 20px" loading="lazy" />
                    <span class="mat-subheading-2">{{ widgetData.text }}</span>
                </button>
            </ng-container>
            <ng-container *ngIf="widgetDataArray?.length">
                <p class="create-account">
                    Are you a new User? <a href="javascript:void(0)" (click)="showRegistration()"> Create an account</a>
                </p>
            </ng-container>
            <ng-container *ngIf="!widgetDataArray?.length">
                <span class="mat-body-2"> No Service Enabled </span>
            </ng-container>
        </ng-container>
    </div>
</ng-container>
