<div class="app-content d-flex justify-content-center align-items-center">
    <mat-card class="outline-card reg-form">
        <h2 class="d-flex justify-content-center">Register</h2>
        <div>
            <h3>User Details</h3>
            <div [formGroup]="registrationForm" proxyMarkAllAsTouched (valid)="submit()">
                <ng-container
                    [ngTemplateOutlet]="formField"
                    [ngTemplateOutletContext]="{
                        key: 'user Name',
                        label: 'User Name',
                        required: true,
                        formControl: registrationForm.get('user.username')
                    }"
                ></ng-container>
                <div class="input-wrapper d-flex gap-3">
                    <ng-container
                        [ngTemplateOutlet]="formField"
                        [ngTemplateOutletContext]="{
                            label: 'First Name',
                            patternError: 'Only alphabets are allowed',
                            formControl: registrationForm.get('user.fname')
                        }"
                    ></ng-container>
                    <ng-container
                        [ngTemplateOutlet]="formField"
                        [ngTemplateOutletContext]="{
                            label: 'Last Name',
                            patternError: 'Only alphabets are allowed',
                            formControl: registrationForm.get('user.lname')
                        }"
                    ></ng-container>
                </div>
                <div class="input-wrapper d-flex gap-3">
                    <ng-container
                        [ngTemplateOutlet]="intlFormField"
                        [ngTemplateOutletContext]="{
                            label: 'Mobile',
                            required: true,
                            formControl: registrationForm.get('user.mobile')
                        }"
                    ></ng-container>

                    <ng-container
                        [ngTemplateOutlet]="formField"
                        [ngTemplateOutletContext]="{
                            label: 'Email',
                            formControl: registrationForm.get('user.email')
                        }"
                    ></ng-container>
                </div>

                <div class="input-wrapper d-flex gap-3">
                    <ng-container
                        [ngTemplateOutlet]="formField"
                        [ngTemplateOutletContext]="{
                            type: 'password',
                            label: 'Password',
                            patternError: 'Enter a valid password',
                            formControl: registrationForm.get('user.password')
                        }"
                    ></ng-container>
                    <ng-container
                        [ngTemplateOutlet]="formField"
                        [ngTemplateOutletContext]="{
                            type: 'password',
                            label: 'Confirm Password',
                            patternError: 'Enter a valid password',
                            formControl: registrationForm.get('user.confirmPassword')
                        }"
                    ></ng-container>
                </div>
                <div class="font-12">
                    <span class="fw-bolder">Note: </span>
                    Password should contain atleast one Capital Letter, one Small Letter, one Digit and one Symbol
                </div>

                <h3>Company Details</h3>
                <div>
                    <ng-container [ngTemplateOutlet]="formField" [ngTemplateOutletContext]="{
                    label: 'Name',
                    required: true,
                    formControl: registrationForm.get('company.name')
                  }">
                    </ng-container>

                    <ng-container [ngTemplateOutlet]="formField" [ngTemplateOutletContext]="{
                        label: 'Email',
                        formControl: registrationForm.get('company.email')
                        }">
                    </ng-container>

                    <ng-container [ngTemplateOutlet]="formField" [ngTemplateOutletContext]="{
                        label: 'mobile',
                        formControl: registrationForm.get('company.mobile')
                        }">
                    </ng-container>
                </div>
                <div class="mt-4 d-flex justify-content-center align-items-center">
                    <button mat-flat-button color="primary" (click)="submit()">Submit</button>
                </div>
            </div>
        </div>
    </mat-card>
    <div class="heading">Have an account,<span class="login" (click)="login()">Login Here</span></div>
</div>

<ng-template
    #formField
    let-type="type"
    let-label="label"
    let-hint="hint"
    let-formControl="formControl"
    let-patternError="patternError"
>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ label }} </mat-label>
        <input
            matInput
            autocomplete="off"
            [attr.type]="type ?? 'text'"
            [formControl]="formControl"
            [placeholder]="'Enter ' + label"
        />
        <mat-error *ngIf="formControl.touched">
            <mat-error *ngIf="formControl.errors?.required"> {{ label }} is required. </mat-error>
            <mat-error *ngIf="formControl.errors?.minlengthWithSpace"> Min required length is 3 </mat-error>
            <mat-error *ngIf="formControl.errors?.noStartEndSpaces"> Start and End spaces are not allowed</mat-error>
            <mat-error *ngIf="formControl.errors?.min as minError">
                Min value required is {{ minError?.min }}
            </mat-error>
            <mat-error *ngIf="formControl.errors?.max as maxError">
                Max value allowed is {{ maxError?.max }}
            </mat-error>
            <mat-error *ngIf="formControl.errors?.minlength as minLengthError">
                Min required length is {{ minLengthError?.requiredLength }}
            </mat-error>
            <mat-error *ngIf="formControl.errors?.maxlength as maxLengthError">
                Max allowed length is {{ maxLengthError?.requiredLength }}
            </mat-error>
            <mat-error *ngIf="formControl.errors?.pattern">
                {{ patternError ? patternError : 'Enter valid ' + label }}
            </mat-error>
            <mat-error *ngIf="formControl.errors?.valueSameAsControl"> {{ label }} mismatch </mat-error>
        </mat-error>
        <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    </mat-form-field>
</ng-template>
<ng-template #intlFormField let-label="label" let-hint="hint" let-required="required" let-formControl="formControl">
    <div [attr.id]="init - contact - wrapper" class="register-user-details w-100">
        <input
            type="tel"
            class="w-100 border rounded-4 text-dark"
            (keypress)="intlClass?.onlyPhoneNumber($event)"
            [attr.id]="'init-contact-user'"
            [placeholder]="'Enter ' + label"
            [ngClass]="{ 'invalid-input': formControl.touched && !intlClass?.[required ? 'isRequiredValidNumber' : 'isValidNumber'] }"
            (blur)="formControl?.markAsTouched(); formControl?.setValue(intlClass?.phoneNumber?.replace('+', ''))"
        />

        <div>
            <mat-error
                *ngIf="formControl.touched && !intlClass?.[required ? 'isRequiredValidNumber' : 'isValidNumber']"
            >
                Please enter valid mobile number
            </mat-error>
        </div>
    </div>
</ng-template>
