<div class="container">
    <button *ngIf="isPreview" mat-icon-button mat-dialog-close class="close-dialog" (click)="close(true)">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M11.8334 1.34163L10.6584 0.166626L6.00008 4.82496L1.34175 0.166626L0.166748 1.34163L4.82508 5.99996L0.166748 10.6583L1.34175 11.8333L6.00008 7.17496L10.6584 11.8333L11.8334 10.6583L7.17508 5.99996L11.8334 1.34163Z"
                fill="#5D6164"
            />
        </svg>
    </button>

    <div class="subscription-plans-container d-flex flex-column align-items-center justify-content-center">
        <div class="plans-grid d-flex flex-row gap-4 justify-content-start align-items-stretch w-100 py-3">
            <div
                *ngFor="let plan of subscriptionPlans; let i = index"
                class="plan-card d-flex flex-column justify-content-between position-relative"
                [ngClass]="{
                    'popular': plan.isPopular,
                    'selected': plan.isSelected,
                    'highlighted': plan.isPopular
                }"
            >
                <!-- Popular Badge -->
                <div *ngIf="plan.tag" class="popular-badge">{{ plan.tag }}</div>
                <div>
                    <!-- Plan Title -->
                    <h1 class="plan-title mt-0">{{ plan.title }}</h1>

                    <!-- Plan Price -->
                    <div class="plan-price mb-3">
                        <div class="price-container d-block mb-3">
                            <span class="price-number">{{ plan.priceValue }}</span>
                            <span class="price-currency">{{ plan.currency }}</span>
                        </div>
                    </div>

                    <!-- Action Button -->
                    <button
                        *ngIf="!plan.subscribeButtonHidden"
                        class="plan-button"
                        [ngClass]="{
                            'primary': plan.buttonStyle === 'primary',
                            'secondary': plan.buttonStyle === 'secondary'
                        }"
                        (click)="selectPlan(plan); $event.stopPropagation()"
                        [attr.data-link]="plan.subscribeButtonLink"
                    >
                        {{ plan.buttonText }}
                    </button>

                    <!-- Hidden Button State -->
                    <div *ngIf="plan.subscribeButtonHidden" class="plan-button-hidden w-100 text-center">
                        {{ plan.buttonText }}
                    </div>

                    <div class="divider w-100 my-3"></div>
                </div>

                <!-- Included Resources -->
                <div *ngIf="plan.metrics && plan.metrics.length > 0" class="included-resources mb-2">
                    <h4 class="section-title text-left">Included</h4>
                    <div class="resource-boxes">
                        <div *ngFor="let metric of plan.metrics" class="resource-box">{{ metric }}</div>
                    </div>
                </div>

                <!-- Plan Features -->
                <div
                    *ngIf="
                        (plan.features && plan.features.length > 0) ||
                        (plan.notIncludedFeatures && plan.notIncludedFeatures.length > 0)
                    "
                    class="mb-2 text-left"
                >
                    <h4 class="section-title text-left">Features</h4>
                    <ul class="plan-features gap-4 m-0 p-0 text-left">
                        <!-- Included Features -->
                        <li
                            *ngFor="let feature of plan.features"
                            class="feature-item included d-flex align-items-center position-relative p-0 gap-2 m-0"
                        >
                            <span class="feature-icon included">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    height="24px"
                                    viewBox="0 -960 960 960"
                                    width="24px"
                                    fill="#4d4d4d"
                                >
                                    <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
                                </svg>
                            </span>
                            {{ feature }}
                        </li>
                        <!-- Not Included Features -->
                        <li
                            *ngFor="let feature of plan.notIncludedFeatures"
                            class="feature-item not-included d-flex align-items-center position-relative p-0 gap-2"
                        >
                            <span class="feature-icon not-included">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    height="24px"
                                    viewBox="0 -960 960 960"
                                    width="24px"
                                    fill="#999999"
                                >
                                    <path
                                        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                                    />
                                </svg>
                            </span>
                            {{ feature }}
                        </li>
                    </ul>
                </div>

                <!-- Extra Features Section -->
                <div *ngIf="plan.extraFeatures && plan.extraFeatures.length > 0" class="mb-4 text-left">
                    <h4 class="section-title text-left">Extra</h4>
                    <ul class="plan-features gap-4 m-0 p-0 text-left">
                        <li
                            *ngFor="let extraFeature of plan.extraFeatures"
                            class="feature-item extra d-flex align-items-center position-relative p-0 gap-2 m-0"
                        >
                            <span class="feature-icon extra">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    height="24px"
                                    viewBox="0 -960 960 960"
                                    width="24px"
                                    fill="#4d4d4d"
                                >
                                    <path
                                        d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"
                                    />
                                </svg>
                            </span>
                            {{ extraFeature }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
