<div class="app-content d-flex flex-column">
    <proxy-loader *ngIf="isLoading$ | async"></proxy-loader>
    <div class="d-flex flex-wrap align-items-start justify-content-between gap-3 mb-3">
        <div class="d-flex flex-wrap align-items-start flex-grow-1 gap-3">
            <form [formGroup]="engProjectFormGroup" class="d-flex flex-wrap gap-3">
                <mat-form-field appearance="outline" class="no-padding w-xs-100">
                    <mat-label>Select Project</mat-label>
                    <input
                        type="text"
                        matInput
                        [matAutocomplete]="matAutoCompleteProject"
                        formControlName="projects"
                        placeholder="Select Project"
                        (keydown)="(false)"
                        (paste)="(false)"
                        style="caret-color: transparent"
                        class="cursor-pointer"
                    />
                    <mat-autocomplete
                        #matAutoCompleteProject="matAutocomplete"
                        (optionSelected)="selectEnvProject('projects')"
                        [displayWith]="envProjectDisplayFunc"
                        class="mat-autocomplete-panel"
                    >
                        <proxy-cdk-scroll (fetchNextPage)="fetchNextPage('projects')" scrollableElementId="projects">
                            <mat-option [value]="''" class="mat-body-2">All</mat-option>
                            <mat-option
                                *ngFor="
                                    let project of engProjectFormGroup.value?.environments?.projects ??
                                        (projects$ | async)?.data
                                "
                                [value]="project"
                                class="mat-body-2"
                            >
                                {{ project.name }}
                            </mat-option>
                        </proxy-cdk-scroll>
                    </mat-autocomplete>
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="no-padding w-xs-100">
                    <mat-label>Select Environment</mat-label>
                    <input
                        type="text"
                        matInput
                        [matAutocomplete]="matAutoCompleteEnvironment"
                        formControlName="environments"
                        placeholder="Select Environment"
                        (keydown)="(false)"
                        (paste)="(false)"
                        style="caret-color: transparent"
                        class="cursor-pointer"
                    />
                    <mat-autocomplete
                        #matAutoCompleteEnvironment="matAutocomplete"
                        (optionSelected)="selectEnvProject('environments')"
                        [displayWith]="envProjectDisplayFunc"
                        class="mat-autocomplete-panel"
                    >
                        <proxy-cdk-scroll
                            (fetchNextPage)="fetchNextPage('environments')"
                            scrollableElementId="environments"
                        >
                            <mat-option [value]="''" class="mat-body-2">All</mat-option>
                            <mat-option
                                *ngFor="
                                    let environment of engProjectFormGroup.value?.projects?.environments ??
                                        (environments$ | async)?.data
                                "
                                [value]="environment"
                                class="mat-body-2"
                            >
                                {{ environment.name }}
                            </mat-option>
                        </proxy-cdk-scroll>
                    </mat-autocomplete>
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                </mat-form-field>
            </form>
            <proxy-lib-search
                [matFormFieldClass]="'unset-search-width width-md-600 w-md-100'"
                [placeholder]="'Hit Enter to Search'"
                (inputChanges)="onEnter($event)"
                [emitOnEnter]="true"
                hint="To search in specific field use <b>field:</b> before anything (field => endpoint,request_body,response,headers)"
            ></proxy-lib-search>
        </div>
        <div class="d-flex align-items-center justify-content-between gap-3 ml-auto pt-1">
            <date-range-picker
                (selectedRangeValueChange)="setDateRange($event)"
                [(selectedRangeValue)]="selectedRangeValue"
                [selectedDefaultDateRange]="selectedDefaultDateRange.CurrentMonth"
            ></date-range-picker>
            <button mat-flat-button class="flat-default mat-btn-xs" [matMenuTriggerFor]="emailExportButtonMenu">
                <mat-icon class="mat-icon-prefix mat-icon-18 material-icons-outlined">filter_alt</mat-icon>
                <span class="hide-xs">Filter</span>
            </button>
            <mat-menu #emailExportButtonMenu="matMenu" class="filter-menu" xPosition="before">
                <div (click)="$event.stopPropagation(); (false)">
                    <div class="pb-0 pt-3 px-3">
                        <div class="row" [formGroup]="logsFilterForm">
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100">
                                    <mat-label>Select request type</mat-label>
                                    <mat-select
                                        placeholder="Select request types"
                                        [disableOptionCentering]="true"
                                        formControlName="requestType"
                                        multiple
                                    >
                                        <mat-checkbox
                                            class="mat-option full-width-clickable-checkbox w-100"
                                            [disableRipple]="true"
                                            [indeterminate]="
                                                logsFilterForm.controls.requestType.value.length > 0 &&
                                                requestTypes.length > logsFilterForm.controls.requestType.value.length
                                            "
                                            [checked]="
                                                requestTypes.length === logsFilterForm.controls.requestType.value.length
                                            "
                                            (click)="$event.stopPropagation()"
                                            (change)="toggleSelectAllReqType($event)"
                                        >
                                            All
                                        </mat-checkbox>
                                        <mat-option [value]="type" *ngFor="let type of requestTypes">{{
                                            type
                                        }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100">
                                    <mat-label>Select range type</mat-label>
                                    <mat-select
                                        placeholder="Select range type"
                                        [disableOptionCentering]="true"
                                        formControlName="range"
                                        (selectionChange)="changeRangeType($event.value)"
                                    >
                                        <mat-option [value]="''">None</mat-option>
                                        <mat-option [value]="'response_time'">Response Time</mat-option>
                                        <mat-option [value]="'status_code'">Status Code</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <ng-container *ngIf="logsFilterForm.controls.range.value">
                                <div class="col-lg-6 pr-2 mb-2">
                                    <mat-form-field appearance="outline" class="w-100" floatLabel="always">
                                        <mat-label>From</mat-label>
                                        <input
                                            matInput
                                            placeholder="From"
                                            autocomplete="off"
                                            formControlName="from"
                                            proxyRemoveCharacter
                                            [charactersToRemove]="['e', '+', '-', '.', ' ']"
                                        />
                                        <mat-error *ngIf="logsFilterForm.controls.from.invalid">
                                            <mat-error *ngIf="logsFilterForm.get('from').errors?.pattern">
                                                Invalid Number
                                            </mat-error>
                                            <mat-error *ngIf="logsFilterForm.get('from').errors?.limitExceeded">
                                                <b>From</b> should be less than or equal to <b>To</b>
                                            </mat-error>
                                            <mat-error
                                                *ngIf="logsFilterForm.get('from').errors?.maxlength as maxlengthError"
                                            >
                                                Max {{ maxlengthError.requiredLength }} number are allowed
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 pl-2">
                                    <mat-form-field appearance="outline" class="w-100" floatLabel="always">
                                        <mat-label>To</mat-label>
                                        <input
                                            matInput
                                            placeholder="To"
                                            autocomplete="off"
                                            formControlName="to"
                                            proxyRemoveCharacter
                                            [charactersToRemove]="['e', '+', '-', '.', ' ']"
                                        />
                                        <mat-error *ngIf="logsFilterForm.controls.to.invalid">
                                            <mat-error *ngIf="logsFilterForm.get('to').errors?.pattern">
                                                Invalid Number
                                            </mat-error>
                                            <mat-error
                                                *ngIf="logsFilterForm.get('to').errors?.maxlength as maxlengthError"
                                            >
                                                Max {{ maxlengthError.requiredLength }} number are allowed
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="d-flex align-items-center col-gap-3 action-button p-3">
                        <button
                            mat-flat-button
                            color="primary"
                            (click)="applyFilter()"
                            [disabled]="logsFilterForm.invalid"
                        >
                            Apply
                        </button>
                        <button mat-flat-button class="flat-default" (click)="resetParam()">Reset</button>
                        <button mat-button (click)="closeMyMenu()">Cancel</button>
                    </div>
                </div>
            </mat-menu>
            <button
                mat-flat-button
                class="flat-icon-btn flat-default"
                (click)="getLogs()"
                matTooltip="Refresh"
                matTooltipPosition="above"
            >
                <mat-icon class="mat-icon-18">refresh</mat-icon>
            </button>
        </div>
    </div>
    <mat-card class="p-0 outline-card responsive-card flex-grow-1">
        <mat-card-content>
            <div class="table-scroll" style="height: calc(100vh - 180px)">
                <table
                    mat-table
                    [dataSource]="(logs$ | async)?.data"
                    class="default-table responsive-table"
                    matSort
                    (matSortChange)="sortLogs($event)"
                >
                    <!-- Time Column -->
                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date/Time</th>
                        <td mat-cell *matCellDef="let element" data-label="Time">
                            <span>
                                {{ element?.created_at | date: 'd MMM y' }}
                            </span>
                            <span>({{ element?.created_at | date: 'mediumTime' }})</span>
                        </td>
                    </ng-container>

                    <!-- Project name Column -->
                    <ng-container matColumnDef="project_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Project name</th>
                        <td mat-cell *matCellDef="let element" data-label="Project name">
                            {{ element.project_name }} ({{ element.environment_name }})
                        </td>
                    </ng-container>

                    <!-- User IP Column -->
                    <ng-container matColumnDef="user_ip">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>User IP</th>
                        <td mat-cell *matCellDef="let element" data-label="User IP">{{ element.user_ip }}</td>
                    </ng-container>

                    <!-- Endpoint Column -->
                    <ng-container matColumnDef="endpoint">
                        <th mat-header-cell *matHeaderCellDef>Endpoint</th>
                        <td mat-cell *matCellDef="let element" class="w-b-hyphens" data-label="Endpoint">
                            {{ element.endpoint }}
                        </td>
                    </ng-container>

                    <!-- Request Type Column -->
                    <ng-container matColumnDef="request_type">
                        <th mat-header-cell *matHeaderCellDef>Request type</th>
                        <td mat-cell *matCellDef="let element" data-label="Request type">{{ element.request_type }}</td>
                    </ng-container>

                    <!-- Status Code Column -->
                    <ng-container matColumnDef="status_code">
                        <th mat-header-cell *matHeaderCellDef>Status code</th>
                        <td mat-cell *matCellDef="let element" data-label="Status code">{{ element.status_code }}</td>
                    </ng-container>

                    <!-- Response Time Column -->
                    <ng-container matColumnDef="response_time">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Response time</th>
                        <td mat-cell *matCellDef="let element" data-label="Response time">
                            {{ element.response_time }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns; let i = index"
                        (click)="viewLogsDetails(row?._id)"
                        class="cursor-pointer"
                        [ngClass]="{
                            'highlight': (reqLogs$ | async)?.id === row._id,
                            'last-child': i + 1 === pageSizeOptions[0]
                        }"
                        title="Click here to view logs details"
                    ></tr>

                    <tr *matNoDataRow>
                        <td class="mat-cell border-none" [attr.colspan]="displayedColumns.length">
                            <proxy-no-record-found [title]="'logs'" [showBtn]="false"></proxy-no-record-found>
                        </td>
                    </tr>
                </table>
            </div>
            <mat-paginator-goto
                [length]="(logs$ | async)?.totalEntityCount"
                [pageSize]="(logs$ | async)?.itemsPerPage || 25"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageChange($event)"
                [pageIndex]="(logs$ | async)?.pageNumber - 1"
                class="box-shadow-none"
            ></mat-paginator-goto>
        </mat-card-content>
    </mat-card>
</div>
